<div class="card p-5">
  <div class="row">
    <div class="col-12">
      <div class="card alert-info p-2">
        <span class="text-center">
          ingrese numero de identificacion y haga click en Ver Historial
        </span>
      </div>
    </div>

    <div class="col-12 mx-auto d-flex justify-content-center">
      <input class="form-control form-control-sm" placeholder="Documento" type="text" [(ngModel)]="identifier">
    </div>

    <div class="col-12 mx-auto d-flex justify-content-center my-1">
      <button [disabled]="loading" class="btn btn-info" (click)="getClinicalHistory()">
        <span *ngIf="loading;else elseTemplate">Cargando...</span>
        <ng-template #elseTemplate>
          Ver Historial
        </ng-template>
      </button>
    </div>
  </div>
  <app-detail-clinical-history [histories]="histories"> </app-detail-clinical-history>
</div>