<div class="card">
  <div class="card-body">
    <div class="card-title d-flex justify-content-between">
      <h4 class="text-primary">
        Historias Clínicas
      </h4>
      <button class="btn btn-primary btn-sm" (click)="newClinicalHistory()">
        <i class="fa fa-plus"></i> Crear
      </button>
    </div>
    <hr class="line">
    <div class="alert alert-primary text-center" role="alert">
      Ingrese número de identificación y haga click en Ver Historial.
    </div>
    <div class="d-flex justify-content-center">
      <input class="form-control" placeholder="Documento" type="text" [(ngModel)]="identifier">
    </div>
    <div class="col-12 mx-auto d-flex justify-content-center my-1">
      <button [disabled]="loading" class="btn btn-info" (click)="getClinicalHistory()">
        <span *ngIf="loading;else elseTemplate">Cargando...</span>
        <ng-template #elseTemplate>
          Ver Historial
        </ng-template>
      </button>
    </div>
    <app-detail-clinical-history [histories]="histories"> </app-detail-clinical-history>
  </div>  
</div>