<div>
    <div class="row">
        <div class="col-12">
            <div class="card-body"></div>
            <form #agenda="ngForm">
                <div class="panel-body">
                    <div class="row p-3">

                        <div class="col-md-4 my-2">
                            <label>Tipo de Agenda</label>
                            <ng-select [items]="type_appointments" bindLabel="text" bindValue="value"
                                [(ngModel)]="appointmentId" placeholder="Seleccione " name="appointment"
                                loadingText="loading" ngDefaultControl (ngModelChange)="getSubTypeAppointment()">
                            </ng-select>
                        </div>

                        <div class="col-md-4 my-2" *ngIf="appointmentId">
                            <label>Tipo de Consulta</label>
                            <ng-select [items]="type_subappointments" bindLabel="text" bindValue="value"
                                [(ngModel)]="subappointmentId" placeholder="Seleccione " name="subappointment_id"
                                loadingText="loading" (ngModelChange)="getIps()" ngDefaultControl>
                            </ng-select>
                        </div>

                        <div class="col-md-4 my-2" *ngIf="subappointmentId">
                            <label>Ips</label>
                            <ng-select [items]="ipss" bindLabel="text" bindValue="value" [(ngModel)]="ipsId"
                                placeholder="Seleccione " name="ips_id" loadingText="loading"
                                (ngModelChange)="getSedes()" ngDefaultControl>
                            </ng-select>
                        </div>


                        <div class="col-md-6 my-2" *ngIf="ipsId">
                            <label>Sede</label>
                            <ng-select [items]="sedes" bindLabel="text" bindValue="value" [(ngModel)]="sede"
                                placeholder="Seleccione " name="sede_id" loadingText="loading" ngDefaultControl
                                (ngModelChange)="getSpecialties()">
                            </ng-select>
                        </div>

                        <div class="col-md-6 my-2" *ngIf="sede">
                            <label>Especialidad</label>
                            <ng-select [items]="specialties" bindLabel="text" bindValue="value" [(ngModel)]="speciality"
                                placeholder="Seleccione " name="speciality_id" loadingText="loading" ngDefaultControl
                                (ngModelChange)="getProfesionals()">
                            </ng-select>
                        </div>

                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="app-calendar" *ngIf="speciality">
                <app-asignar-calendario [specialidad]="speciality" (siguiente)="siguiente()"></app-asignar-calendario>
            </div>
        </div>
    </div>
</div>