<!-- <div class="card p-2">
  <div class="card-body border my-2 " style="padding-bottom: 0px">
    <div class="row" style="margin-bottom: 0; padding-bottom: 0px;">

      <div class="col-md-6">
        <div class="d-flex justify-content-center">
          <table>
            <tr class="tr">
              <td> <label>Fecha</label></td>
              <td>
                <p>{{history.date}} - {{history.hour}}</p>
              </td>
            </tr>
          </table>
        </div>
      </div>

    </div>
  </div>
</div> -->