<div class="row">
    <div class="col-9">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="row p-3">
                            <div class="col-md-2 my-2">

                                <label>Tipo de Agenda</label>
                                <ng-select [items]="type_appointments" bindLabel="text" bindValue="value" [(ngModel)]="filters.appointmentId" placeholder="Seleccione " name="type_agenda_id" loadingText="loading" ngDefaultControl (ngModelChange)="getSubTypeAppointment()">
                                </ng-select>
                            </div>

                            <div class="col-md-2 my-2">
                                <label>Tipo de Consulta</label>
                                <ng-select [items]="type_subappointments" bindLabel="text" bindValue="value" [(ngModel)]="filters.subappointmentId" placeholder="Seleccione " name="type_appointment_id" loadingText="loading" (ngModelChange)="getIps()" ngDefaultControl>
                                </ng-select>
                            </div>

                            <div class="col-md-4 my-2">
                                <label>Especialidad</label>
                                <ng-select [items]="specialties" bindLabel="text" bindValue="value" [(ngModel)]="filters.speciality" placeholder="Seleccione " name="speciality_id" loadingText="loading" ngDefaultControl (ngModelChange)="getProfesionals()">
                                </ng-select>
                            </div>


                            <div class="col-md-4 my-2">
                                <label>Profesional</label>
                                <ng-select [items]="persons" bindLabel="text" bindValue="value" [(ngModel)]="filters.person" [placeholder]="" name="person_id" loadingText="loading" ngDefaultControl>
                                </ng-select>
                            </div>

                            <div class="col-md-6 my-2" *ngIf="appointment.face_to_face">
                                <label>Ips</label>
                                <ng-select [items]="ipss" bindLabel="text" bindValue="value" [(ngModel)]="filters.ipsId" placeholder="Seleccione " name="ips_id" loadingText="loading" (ngModelChange)="getSedes()" ngDefaultControl>
                                </ng-select>
                            </div>


                            <div class="col-md-6 my-2" *ngIf="appointment.face_to_face">
                                <label>Sede</label>
                                <ng-select [items]="sedes" bindLabel="text" bindValue="value" [(ngModel)]="filters.sede" placeholder="Seleccione " name="sede_id" loadingText="loading" ngDefaultControl (ngModelChange)="getSpecialties()">
                                </ng-select>
                            </div>

                        </div>
                        <div class="col-12">
                            <button class="btn btn-primary btn-sm btn-block " (click)="getAgendamientos(1)">Buscar</button>
                        </div>
                        <!-- <div class="col-2 mb-2">
                                <label for="validationServerUsername">Tipo Ident.</label>
                                <div class="input-group">
                                    <select [(ngModel)]="person.type_identification_id" class="custom-select" name="Id_Tipo_Identificacion">
                                      <option [value]="type.Id" *ngFor="let type of typesDocuments">{{type.Nombre}}</option>
                                    </select>
                                </div>
                            </div> -->
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <table class="table table-hover mb-0 table-centered table-nowrap">
                            <thead class="thead-dark">
                                <tr>
                                    <th>Fecha</th>
                                    <th>Func. Elaboró</th>
                                    <th>Profesional</th>
                                    <th>Especialidad</th>
                                    <th>Estado</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of agendas">
                                    <td>
                                        <p class="font-size-14 mb-0">{{item.created_at |date}}</p>
                                    </td>
                                    <td>
                                        <p class="font-size-14 mb-0">
                                            <!-- {{item.person.name}} -->
                                        </p>
                                    </td>
                                    <td>
                                        <p class="font-size-14 mb-0">{{item.person.name}}</p>
                                    </td>
                                    <td>
                                        <p class="font-size-14 mb-0">{{item.speciality.name}}</p>
                                    </td>
                                    <td>
                                        <p class="font-size-14 mb-0">{{item.state}}</p>
                                    </td>
                                    <td class="text-right ">
                                        <div class="btn-group " role="group " ngbDropdown>
                                            <button id="btnGroupVerticalDrop1 " type="button " class="btn btn-primary btn-sm dropdown-toggle " ngbDropdownToggle>
                                    Acciones <i class="mdi mdi-chevron-down "></i>
                                  </button>
                                            <div style="cursor: pointer; " class="dropdown-menu font-weight-bolder " aria-labelledby="btnGroupVerticalDrop1 " ngbDropdownMenu>
                                                <a class="dropdown-item " [routerLink]="['/agendamiento/detalle-agenda',item.id]"> <i class=" fa fa-search mr-2 "></i>Ver más</a>
                                                <!-- <a class="dropdown-item "> <i class="fa fa-edit mr-2 "></i>Editar </a> -->
                                                <a class="dropdown-item "> <i class="fa fa-ban mr-2 "></i>Suspender </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        <div class="row align-items-right mt-2 ">
                            <div class="col-sm-12 ">
                                <div class="text-md-right float-md-right pagination-rounded ">
                                    <ngb-pagination [collectionSize]="pagination.collectionSize " (pageChange)="getAgendamientos($event) " [pageSize]="pagination.pageSize " [(page)]="pagination.page " aria-label="Default pagination "></ngb-pagination>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-3">
        <div *ngFor="let stat of statData" style="cursor: pointer;" class="col-12">
            <app-stats (click)="searchDetailStat(stat)" [title]="stat.title" [value]="stat.value" [icon]="stat.icon"></app-stats>
        </div>
    </div>
</div>


<app-detail-stats [showDeitalStat]="showDeitalStat"></app-detail-stats>