<div class="row">
    <div class="col-4">
        <app-time-line [data]="time"></app-time-line>
    </div>
    <div class="col-8">
        <div class="row">
            <div class="col-12">
                <ngb-alert class="mb-2" #alert [dismissible]="false" [type]="'warning'"> No se pueden <strong>inactivar</strong> agendas con citas asignadas </ngb-alert>
                <div class="card">
                    <div class="card-body">
                        <div class="row">

                            <div class="col-4">
                                <div class="form-group row ">
                                    <label for="staticEmail" class="col-sm-6  col-form-label">Tipo de Agenda:</label>
                                    <input type="text" readonly class=" col-sm-6 form-control-plaintext" id="staticEmail" [(ngModel)]="agenda.appointment.name">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group row ">
                                    <label for="staticEmail" class="col-sm-6  col-form-label">Tipo de Consulta:</label>
                                    <input type="text" readonly class=" col-sm-6 form-control-plaintext" id="staticEmail" [(ngModel)]="agenda.consult.name">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group row ">
                                    <label for="staticEmail" class="col-sm-6  col-form-label">Especialidad:</label>
                                    <input type="text" readonly class=" col-sm-6 form-control-plaintext" id="staticEmail" [(ngModel)]="agenda.consult.name">
                                </div>
                            </div>

                            <div class="col-4">
                                <div class="form-group row ">
                                    <label for="staticEmail" class="col-sm-6  col-form-label">Profesional:</label>
                                    <input type="text" readonly class=" col-sm-6 form-control-plaintext" id="staticEmail" [value]=" agenda.professional.first_name +' '+ agenda.professional.first_surname ">
                                </div>
                            </div>
                            <!-- FOR ALL-->

                            <ng-container *ngIf="agenda.appointment.name == 'PRESENCIAL'">
                                <div class="col-4">
                                    <div class="form-group row ">
                                        <label for="staticEmail" class="col-sm-6  col-form-label">IPS:</label>
                                        <input type="text" readonly class=" col-sm-6 form-control-plaintext" id="staticEmail" [(ngModel)]="agenda.company.name">
                                    </div>
                                </div>
                                <div class="col-4">
                                    <div class="form-group row ">
                                        <label for="staticEmail" class="col-sm-6  col-form-label">Sede:</label>
                                        <input type="text" readonly class=" col-sm-6 form-control-plaintext" id="staticEmail" [(ngModel)]="agenda.location.name">
                                    </div>
                                </div>
                            </ng-container>

                            <hr>
                            <div class="col-4">
                                <div class="form-group row ">
                                    <label for="staticEmail" class="col-sm-6  col-form-label">Inicio Agenda:</label>
                                    <input type="date" readonly class=" col-sm-6 form-control-plaintext" id="staticEmail" [(ngModel)]="agenda.date_start">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group row ">
                                    <label for="staticEmail" class="col-sm-6  col-form-label">Fin Agenda:</label>
                                    <input type="date" readonly class=" col-sm-6 form-control-plaintext" id="staticEmail" [(ngModel)]="agenda.date_end">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group row ">
                                    <label for="staticEmail" class="col-sm-6  col-form-label">Hora Inicio :</label>
                                    <input type="time" readonly class=" col-sm-6 form-control-plaintext" id="staticEmail" [(ngModel)]="agenda.hour_start">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="form-group row ">
                                    <label for="staticEmail" class="col-sm-6  col-form-label">Hora Fin:</label>
                                    <input type="time" readonly class=" col-sm-6 form-control-plaintext" id="staticEmail" [(ngModel)]="agenda.end_start">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <div class="app-calendar">
                            <full-calendar #calendar defaultView="dayGridMonth" [header]="{
                    left: 'prevYear,prev,next,nextYear today',
                    center: 'title',
                    right: 'dayGridMonth,dayGridWeek,dayGridDay,listWeek'}" [plugins]="calendarPlugins" [eventResizableFromStart]="'true'" [eventLimit]="false" themeSystem='bootstrap' [weekends]="calendarWeekends" [bootstrapFontAwesome]="true" deepChangeDetection="true"
                                [events]="calendarEvents" locale="es">
                            </full-calendar>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>