<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-md-4 mb-3">
                                <label for="validationServerUsername">Institución</label>
                                <div class="input-group">
                                    <input style="width: 85%;" id="typeahead-http" type="text" class="form-control " [class.is-invalid]="searchFailed" [ngbTypeahead]="searchInstitution" placeholder="Diagnosticos" name="diagnosticoId" ngDefaultControl [resultTemplate]="institution" [inputFormatter]="Inputdiagnostic"
                                    />
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="validationServerUsername">Sede</label>
                                <div class="input-group">
                                    <input style="width: 85%;" id="typeahead-http" type="text" class="form-control " [class.is-invalid]="searchFailed" [ngbTypeahead]="searchInstitution" placeholder="Diagnosticos" name="diagnosticoId" ngDefaultControl [resultTemplate]="institution" [inputFormatter]="Inputdiagnostic"
                                    />
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="validationServerUsername">Especialidad</label>
                                <div class="input-group">
                                    <input style="width: 85%;" id="typeahead-http" type="text" class="form-control " [class.is-invalid]="searchFailed" [ngbTypeahead]="searchSpeciality" placeholder="Diagnosticos" name="diagnosticoId" ngDefaultControl [resultTemplate]="institution" [inputFormatter]="Inputdiagnostic"
                                    />
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                                <label for="validationServerUsername">Doctor</label>
                                <div class="input-group">
                                    <input style="width: 85%;" id="typeahead-http" type="text" class="form-control " [class.is-invalid]="searchFailed" [ngbTypeahead]="searchInstitution" placeholder="Diagnosticos" name="diagnosticoId" ngDefaultControl [resultTemplate]="institution" [inputFormatter]="Inputdiagnostic"
                                    />
                                </div>
                            </div>

                            <div class="col-md-2 mb-2">
                                <label for="validationServerUsername">Fecha</label>
                                <div class="input-group">
                                    <input type="date" class="form-control" id="validationServerUsername" placeholder="Ingrese la fecha" aria-describedby="inputGroupPrepend3" required>
                                </div>
                            </div>

                            <div class="col-md-2 mb-3">
                                <label for="validationServerUsername">Paciente</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="validationServerUsername" placeholder="Nombre / Identificación " aria-describedby="inputGroupPrepend3" required>
                                </div>
                            </div>
                            <div class="col-md-2 mb-3">
                                <label for="validationServerUsername">Tipo de Cita</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="validationServerUsername" placeholder="Nombre / Identificación " aria-describedby="inputGroupPrepend3" required>
                                </div>
                            </div>
                            <div class="col-md-2 mb-3">
                                <label for="validationServerUsername">Tipo de Modalidad</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="validationServerUsername" placeholder="Nombre / Identificación " aria-describedby="inputGroupPrepend3" required>
                                </div>
                            </div>

                            <div class="col-md-2 mb-3">
                                <label for="validationServerUsername">Estado</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="validationServerUsername" placeholder="Nombre / Identificación " aria-describedby="inputGroupPrepend3" required>
                                </div>
                            </div>



                            <div class="col-12">
                                <button class="btn btn-primary btn-block btn-sm" (click)="getCitas()">Buscar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12">
        <app-lista-citas [canOverride]="'false'" [citas]="citas"></app-lista-citas>
    </div>
</div>

<ng-template #institution let-r="result" let-t="term">
    <span class="f-9">
        {{r.id}}
        <strong>{{r.text}}</strong>
    </span>
</ng-template>