.stats {
  i {
    font-size: 50px;
  }
  h6 {
    font-size: 15px;
  }
  p {
    font-size: 18px;
  }
}

.green {
  color: #12B858;
}

.red {
  color: #EB4308;
}

.blue {
  color: #08CCEB;
}
.tGray {
  color: #576466;
}

.yelow {
  color: #FEAD0C;
}
.yelowSoft {
  color: #E7C30F;
}
