// 
// _table.scss
// 
.table {
    th {
        font-weight: $font-weight-bold;
    }
    th,
    td {
        padding: 0.20rem !important;
    }
}

//Table centered
.table-centered {
    td,
    th {
        vertical-align: middle !important;
    }
}

.table-nowrap {
    th,
    td {
        white-space: nowrap;
    }
}