<div class="row">
  <mat-form-field class="col" appearance="outline">
    <mat-label>Tablero permitido</mat-label>
    <mat-select [(ngModel)]="dispensing_point_id" name="boardsSelected">
      <mat-option *ngFor="let item of points" [value]="item.value">{{
        item.text
      }}</mat-option>
    </mat-select>
  </mat-form-field>
  <!-- <div class="col-12">
    <ng-select
      [items]="points"
      required
      bindLabel="text"
      bindValue="value"
      appearance="outline"
      [appendTo]="'body'"
      placeholder="Punto de dispensación"
      [(ngModel)]="dispensing_point_id"
      placeholder="Seleccione "
      name="dispensing_point_id"
      loadingText="loading"
      ngDefaultControl
    >
    </ng-select>
  </div> -->
  <div class="col-12">
    <button class="btn btn-primary btn-sm btn-block" (click)="save()">
      <i
        class="fa"
        [ngClass]="{ 'fa-save': !saving, 'fa-sync fa-spin': saving == true }"
      ></i>
      Guardar
    </button>
  </div>
</div>
