<div class="card">
  <div class="card-body">
    <div class="row card-title d-flex justify-content-between">
      <div class="col-md-6 px-0">
        <h4 class="text-primary">CUPS</h4>
      </div>
      <div class="col-md-6 px-0 text-right">
        <div class="btn-group rounded w-sm-100">
          <button class="btn btn-primary btn-sm" (click)="openModal()">
            <i class="fa fa-plus"></i> Agregar
          </button>
          <button class="btn btn-info btn-sm" (click)="openClose()">
            <i class="fas fa-sliders-h"></i> Filtros
          </button>
        </div>
      </div>
    </div>
    <hr class="line" />
    <mat-accordion multi>
      <mat-expansion-panel class="mat-elevation-z0">
        <div class="row">
          <mat-form-field class="col" appearance="outline">
            <mat-label>Nombre</mat-label>
            <input
              matInput
              type="text"
              placeholder="Busca por CUPS"
              [(ngModel)]="filtros.description"
              (input)="getAllCups()"
              name="description"
              autocomplete="off"
            />
          </mat-form-field>
          <mat-form-field class="col" appearance="outline">
            <mat-label>Código</mat-label>
            <input
              matInput
              type="text"
              placeholder="Busca por código"
              [(ngModel)]="filtros.code"
              (input)="getAllCups()"
              name="code"
              autocomplete="off"
            />
          </mat-form-field>
          <mat-form-field class="col" appearance="outline">
            <mat-label>Tipo</mat-label>
            <mat-select
              [(ngModel)]="filtros.type_service_id"
              (selectionChange)="getAllCups()"
            >
              <mat-option value="">Todos</mat-option>
              <mat-option *ngFor="let item of cups_type" [value]="item.value">{{
                item.text
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <div class="rounded-top table-responsive">
      <table
        class="table table-bordered table-striped table-sm"
        *ngIf="!loading && cups.length > 0; else notData"
      >
        <thead class="bg-light">
          <tr class="text-center text-uppercase">
            <th scope="col" class="col-6">Nombre</th>
            <th scope="col" class="col-2">Código</th>
            <th scope="col">Tipo</th>
            <th scope="col" class="col-1">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let cup of cups"
            class="text-center"
            [ngClass]="{
              'text-danger font-weight-bold': cup.status === 'Inactivo'
            }"
          >
            <td class="align-middle text-left" scope="row">
              {{ cup.description }}
            </td>
            <td class="align-middle">{{ cup.code }}</td>
            <td class="align-middle" *ngIf="cup.type_service.length > 0; else noType">
              <span *ngFor="let item of cup.type_service">{{ item.name }}. </span>
            </td>
            <ng-template #noType>
              <td class="align-middle">Sin tipo</td>
            </ng-template>
            <td class="align-middle">
              <div ngbDropdown container="body" class="dropdown-primary">
                <button
                  ngbDropdownToggle
                  class="btn btn-primary btn-sm waves-light"
                  type="button"
                >
                  <i class="mdi mdi-chevron-down"></i>
                </button>
                <div ngbDropdownMenu>
                  <a
                    class="dropdown-item text-info waves-light caja-botones"
                    href="javascript: void(0);"
                    (click)="edit(cup.id)"
                  >
                    <i class="far fa-edit"></i> Editar</a
                  >
                  <a
                    *ngIf="cup.status === 'Activo'"
                    class="dropdown-item waves-light waves-effect caja-botones"
                    (click)="anularOActivar(cup, 'Inactivo')"
                  >
                    <i class="fa fa-pencil"></i> Inactivar</a
                  >
                  <a
                    *ngIf="cup.status === 'Inactivo'"
                    class="dropdown-item waves-light waves-effect caja-botones"
                    (click)="anularOActivar(cup, 'Activo')"
                  >
                    <i class="fa fa-pencil"></i> Activar</a
                  >
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <ngb-pagination
      class="d-flex justify-content-center pagination-rounded pagination-sm"
      [collectionSize]="pagination.collectionSize"
      (pageChange)="getAllCups($event)"
      [pageSize]="pagination.pageSize"
      [(page)]="pagination.page"
      aria-label="Default pagination"
      maxSize="5"
      rotate="true"
      ellipses="false"
      boundaryLinks="true"
    >
    </ngb-pagination>
  </div>
</div>

<app-modal-cup (dataChange)="getAllCups()"></app-modal-cup>

<ng-template #notData>
  <app-not-data [loading]="loading"></app-not-data>
</ng-template>
