<ng-template #modal let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="text-primary modal-title">Nueva caja</h4>
      <button
        type="button"
        class="btn btn-sm btn-flash-border-primary ri-close-fill"
        aria-label="Close"
        (click)="modal.dismiss('Cross click')"
      ></button>
    </div>
  </div>
  <div class="modal-body">
    <form [formGroup]="forma">
      <div class="form-row">
        <div class="form-group col-8">
          <label for="" class="form-label">Plan de cuenta</label>
          <input
            id="typeahead-format"
            type="text"
            formControlName="account_plan"
            class="form-control form-control-sm"
            [ngbTypeahead]="searchAccount"
            [inputFormatter]="formatter"
            [resultFormatter]="formatter"
            [editable]="false"
          />
        </div>
        <div class="form-group col-4">
          <label for="" class="form-label">Saldo Inicial</label>
          <input
            id="typeahead-format"
            type="text"
            formControlName="initial_balance"
            class="form-control form-control-sm form-control-plaintext"
          />
        </div>
        <div class="form-group col-12">
          <label for="" class="form-label">Funcionario Responsable</label>
          <input
            id="typeahead-format"
            type="text"
            formControlName="person"
            class="form-control form-control-sm"
            [ngbTypeahead]="searchPerson"
            [inputFormatter]="formatter"
            [resultFormatter]="formatter"
            [editable]="false"
          />
        </div>
        <div class="form-group col-12">
          <label for="" class="form-label mt-3">Nombre</label>
          <input
            formControlName="description"
            class="form-control form-control-sm col-sm-12 mr-4 mt-1"
            placeholder="Nombre de la nueva caja..."
          />
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-default"
      (click)="modal.dismiss('Cross click')"
    >
      Cancelar
    </button>
    <button
      type="submit"
      class="btn btn-primary"
      (click)="save()"
      [disabled]="!forma.valid"
    >
      Guardar
    </button>
  </div>
</ng-template>

