<div *ngIf="renderizar">
  <div class="card">
    <div class="card-body">
      <div class="card-title d-flex justify-content-between">
        <h4 class="text-primary">Historial de Pagos</h4>
        <div class="btn-group rounded">          
          <button class="btn btn-info btn-sm" style="float: right;" (click)="openClose()">
            <i class="fas fa-sliders-h"></i> Filtros
          </button>
        </div>
      </div>
      <hr class="line">
      <mat-accordion multi>
        <mat-expansion-panel class="mat-elevation-z0">
          <form #forma="ngForm" (ngSubmit)="getHistorialPagos(forma)">
            <div class="form-group row align-items-end">
              <div class="col-3">
                <label for="dependency_id" class="col-form-label text-left">Fecha Inicio</label>

                <input class="form-control form-control-sm" ngModel name="start_period" type="date">

              </div>
              <div class="col-3">
                <label for="dependency_id" class="col-form-label text-left">Fecha Fin</label>
                <input class="form-control form-control-sm" ngModel name="end_period" type="date">

              </div>
              <div class="col-2">
                <button class="btn btn-primary"><i class="fa fa-search"></i></button>
              </div>
            </div>

          </form>
        </mat-expansion-panel>
      </mat-accordion>
      <div class="row" *ngIf="!historialPagos.length; else data">
        <div class="col-12">
          <div class="alert alert-secondary">
            <p class="font-weight-bold">
              Aún no se ha realizado el primer pago de nómina, una vez hecho el
              pago podrá visualizar y filtrar el historial de pagos por periodo.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #data>
  <div class="col-md-12">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Empresa</th>
          <th>Periodo</th>
          <th>Salarios</th>
          <th>Retenciones</th>
          <th>Provisiones</th>
          <th>Seguridad social</th>
          <th>Parafiscales</th>
          <th>Costo total empresa</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pago of historialPagos">
          <!--  {{ pago | json }} -->
          <td>{{ pago.company.name }}</td>
          <td class="custom-label">
            {{ pago.start_period }} -
            {{ pago.end_period }}
          </td>
          <td class="custom-label">
            {{ pago.total_salaries | currency: "":"" }}
          </td>
          <td class="custom-label">
            {{ pago.total_retentions | currency: "":"" }}
          </td>
          <td class="custom-label">
            {{ pago.total_provisions | currency: "":"" }}
          </td>
          <td class="custom-label">
            {{ pago.total_social_secturity | currency: "":"" }}
          </td>
          <td class="custom-label">
            {{ pago.total_parafiscals | currency: "":"" }}
          </td>
          <td class="custom-label">{{ pago.total_cost | currency: "":"" }}</td>
          <td>
            <a [routerLink]="['/nomina/nomina']" [queryParams]="{
                inicio: pago.start_period,
                fin: pago.end_period,
                company_id: pago.company_id
              }" class="btn btn-link p-0" (click)="redirectToNomina(pago)">
              <i class="fa fa-eye"></i>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-template>