<app-modal-basic #detalleCitaModal [dialogClass]="'modal-lg modal-full'" *ngIf="findCita">
    <div class="app-modal-header">
        <div class="row">
            <h4 class=" text text-center justify-content-center modal-title   px-3">
                <!--  Detalles de la cita para {{findCita.call_in.patient.Nombres}} -->
            </h4>
            <button type="button" class="close basic-close" (click)="detalleCitaModal.hide()">
                <span aria-hidden="true" >&times;</span>
            </button>
        </div>
    </div>
    <div class="app-modal-body">

        <div class="row">
            <div class="col-12">

                <ngb-accordion #acc="ngbAccordion" activeIds="static-1" [closeOthers]="true">
                    <ngb-panel id="static-1">
                        <ng-template ngbPanelTitle class="text-black">
                            <i class="fas fa-notes-medical"></i> Datos de la cita
                        </ng-template>
                        <ng-template ngbPanelContent>
                            <div class="row mt-3 px-3">
                                <div class="col-6">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Fecha Prog.:</label>
                                        <div class="col-sm-8">
                                            <input type="text" readonly class="form-control-plaintext" [ngModel]="findCita.created_at">
                                        </div>
                                    </div>
                                </div>
                                <div class=" col-6 ">
                                    <div class="form-group row ">
                                        <label class="col-sm-4 col-form-label ">Fecha Cita:</label>
                                        <div class="col-sm-8 ">
                                            <input type="text " readonly class="form-control-plaintext " id="staticEmail " [ngModel]="findCita.space.hour_start ">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 ">
                                    <div class="form-group row ">
                                        <label class="col-sm-4 col-form-label ">Doctor:</label>
                                        <div class="col-sm-8 ">
                                            <input type="text " readonly class="form-control-plaintext " id="staticEmail " [ngModel]="findCita.space.agendamiento.person.name">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-6 ">
                                    <div class="form-group row ">
                                        <label class="col-sm-4 col-form-label ">Trámite:</label>
                                        <div class="col-sm-8 ">
                                            <input type="text " readonly class="form-control-plaintext " id="staticEmail " [ngModel]="findCita.call_in.formality.name ">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 ">
                                    <div class="form-group row ">
                                        <label class="col-sm-4 col-form-label ">Consulta:</label>
                                        <div class="col-sm-8 ">
                                            <input type="text " readonly class="form-control-plaintext " id="staticEmail " [ngModel]="findCita.space.agendamiento.sub_type_appointment.name">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 ">
                                    <div class="form-group row ">
                                        <label class="col-sm-4 col-form-label ">Agenda:</label>
                                        <div class="col-sm-8 ">
                                            <input type="text " readonly class="form-control-plaintext " id="staticEmail " [ngModel]="findCita.space.agendamiento.type_appointment.name ">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 ">
                                    <div class="form-group row ">
                                        <label class="col-sm-4 col-form-label ">Ips:</label>
                                        <div class="col-sm-8 ">
                                            <input type="text " readonly class="form-control-plaintext " id="staticEmail " [ngModel]="findCita.space.agendamiento.company.name">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 ">
                                    <div class="form-group row ">
                                        <label class="col-sm-4 col-form-label ">Sede:</label>
                                        <div class="col-sm-8 ">
                                            <input type="text " readonly class="form-control-plaintext " id="staticEmail " [ngModel]="findCita.space.agendamiento.location.name ">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 ">
                                    <div class="form-group row ">
                                        <label class="col-sm-4 col-form-label ">Especialidad:</label>
                                        <div class="col-sm-8 ">
                                            <input type="text " readonly class="form-control-plaintext " id="staticEmail " [ngModel]="findCita.space.agendamiento.speciality.name">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6 ">
                                    <div class="form-group row ">

                                        <label class="col-sm-4 col-form-label ">Cuota:</label>
                                        <div class="col-sm-8 d-flex ">
                                            <div class="input-group ">

                                                <div class="input-group-prepend mr-2 ">
                                                    <span class="input-group-text " id="inputGroup-sizing-default ">
                                                   
                                                        $
                                                </span>
                                                </div>
                                                <input type="number " [ngModel]="findCita.price " name="Celular " class="form-control-plaintext " id="exampleInputPassword1 ">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 ">
                                    <div class="form-group row ">
                                        <label class="col-sm-12 col-form-label ">Observación:</label>
                                        <div class="col-sm-12 ">
                                            <textarea type="text " cols="12" rows="3" readonly class="form-control-plaintext " id="staticEmail " [ngModel]="findCita.observation"></textarea>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </ng-template>
                    </ngb-panel>
                    <ngb-panel id="static-2">
                        <ng-template ngbPanelTitle>
                            <i class="fas fa-hospital-user"></i> Datos Del Paciente
                        </ng-template>
                        <ng-template ngbPanelContent>
                            <div class="row mt-3 px-3">
                                <div class="col-6">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Tipo de Doc.:</label>
                                        <div class="col-sm-8">
                                            <input type="text" readonly [ngModel]="findCita.call_in.patient.type_document_id" class="form-control-plaintext">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Identificacion:</label>
                                        <div class="col-sm-8">
                                            <input type="text" readonly [ngModel]="findCita.call_in.patient.identifier" class="form-control-plaintext">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Nombres:</label>
                                        <div class="col-sm-8">
                                            <input type="text" readonly [ngModel]="findCita.call_in.patient.surname" class="form-control-plaintext">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Apellidos:</label>
                                        <div class="col-sm-8">
                                            <input type="text" readonly [ngModel]="findCita.call_in.patient.firstname" class="form-control-plaintext">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Ips:</label>
                                        <div class="col-sm-8">
                                            <input type="text" readonly [ngModel]="findCita.call_in.patient.company.name" class="form-control-plaintext">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Eps:</label>
                                        <div class="col-sm-8">
                                            <input type="text" readonly [ngModel]="findCita.call_in.patient.eps.name" class="form-control-plaintext">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group row">
                                        <label class="col-sm-4 col-form-label">Estado:</label>
                                        <div class="col-sm-8">
                                            <input type="text" readonly [ngModel]="findCita.call_in.patient.state" class="form-control-plaintext">
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </ng-template>
                    </ngb-panel>

                </ngb-accordion>
            </div>

        </div>





    </div>
    <div class="app-modal-footer ">
        <div class="text-right  px-3">
            <!--  <button type="button " class="btn btn-danger btn-sm mr-2" (click)="detalleCitaModal.hide() ">Cerrar</button>
            <button type="button " class="btn btn-success btn-sm " (click)="detalleCita()">Cancelar Cita</button> -->
        </div>
    </div>
</app-modal-basic>