<form class="row mt-3" #registerCita="ngForm">
  <div class="col-12 mt-12">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">
          <i class="fas fa-stethoscope"></i>
        </span>
      </div>
      <input
        id="typeahead-http"
        type="text"
        required
        class="form-control"
        [class.is-invalid]="searchFailedDiagnostic"
        [(ngModel)]="diagnosticoId"
        [ngbTypeahead]="search"
        placeholder="Diagnostico del Paciente"
        name="diagnosticoId"
        ngDefaultControl
        [resultTemplate]="diagnostic"
        [inputFormatter]="Inputdiagnostic"
      />
      <small *ngIf="searchingDiagnostic" class="form-text text-muted"
        >Buscando...</small
      >
      <div class="invalid-feedback" *ngIf="searchFailedDiagnostic">
        No se ha podido encontrar.
      </div>
    </div>
  </div>

  <div class="col-6 mt-12">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">
          <i class="fas fa-hospital-alt"></i>
        </span>
      </div>

      <input
        type="text"
        required
        name="ips_remisor"
        [(ngModel)]="cita.ips_remisor"
        placeholder="IPS Remisora"
        class="form-control"
      />

      <!-- <ng-select class="col-10" [items]="ips_remisors" bindLabel="text" bindValue="value"
                        [(ngModel)]="cita.ips_remisor" placeholder="Seleccione " name="ips_remisor"
                        loadingText="loading" ngDefaultControl>
                    </ng-select> -->
    </div>
  </div>

  <div class="col-6 mt-12">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">
          <i class="fas fa-user-md"></i>
        </span>
      </div>

      <input
        type="text"
        required
        name="person_remisor"
        placeholder="Médico Remisor"
        [(ngModel)]="cita.person_remisor"
        class="form-control"
      />

      <!-- <ng-select class="col-10" [items]="persons_remisors" bindLabel="text" bindValue="value"
                        [(ngModel)]="cita.person_remisor" placeholder="Seleccione "
                        name="person_remisor" loadingText="loading" ngDefaultControl>
                    </ng-select> -->
    </div>
  </div>

  <div class="col-6 mt-12">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">
          <i class="fas fa-notes-medical"></i>
        </span>
      </div>

      <input
        type="text"
        required
        name="especiality"
        placeholder="Especialidad de Médico Remisor"
        [(ngModel)]="cita.especiality"
        class="form-control form-control"
      />

      <!-- <ng-select class="col-10" [items]="procedurs_remisors" bindLabel="text" bindValue="value"
                        [(ngModel)]="cita.especiality" placeholder="Seleccione " name="especiality"
                        loadingText="loading" ngDefaultControl>
                    </ng-select> -->
    </div>
  </div>

  <div class="col-6 mt-12">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span
          class="input-group-text"
          placeholder="Fecha Remitido Servicio"
          id="inputGroup-sizing-default"
        >
          <i class="fas fa-calendar-alt"></i>
        </span>
      </div>

      <input
        type="date"
        required
        name="date_remisor"
        [(ngModel)]="cita.date_remisor"
        class="form-control form-control"
      />
    </div>
  </div>

  <div class="col-12 mt-12">
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroup-sizing-default">
          <i class="fas fa-cogs"></i>
        </span>
      </div>

      <input
        type="text"
        required
        class="form-control"
        [class.is-invalid]="searchFailedProcedure"
        [(ngModel)]="procedureId"
        [ngbTypeahead]="searchCustomProcedureByAppointment"
        placeholder="Código CUPS Asignado"
        name="procedureId"
        ngDefaultControl
        [resultTemplate]="procedure"
        [inputFormatter]="InputProcedure"
      />
      <small *ngIf="searchingProcedure" class="form-text text-muted"
        >Buscando...</small
      >
      <div class="invalid-feedback" *ngIf="searchFailedProcedure">
        No se ha podido encontrar.
      </div>
    </div>
  </div>
  <mat-form-field class="col" appearance="outline">
    <mat-label>Contrato</mat-label>
    <mat-select
      [(ngModel)]="contractId"
      name="contractId"
      required
    >
      <mat-option
        *ngFor="let option of contratos"
        [value]="option.value"
      >
        {{ option.text }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <input type="hidden" name="space" [(ngModel)]="space" />
  <input type="hidden" name="call" [(ngModel)]="call" />
  <input type="hidden" name="patient" [(ngModel)]="patient" />
  <input type="hidden" name="anotherData" [(ngModel)]="dataCitaToAssign" />
  <input type="hidden" name="tipification" [(ngModel)]="tipification" />

  <div class="col-12 mt-12">
    <div class="form-group">
      <label for="observaciones">Observaciones</label>
      <textarea
        class="form-control"
        required
        id="observaciones"
        name="observation"
        [(ngModel)]="cita.observacion"
        required
        minlength="10"
      ></textarea>
    </div>
  </div>

  <div class="col-md-3 my-2">
    <div class="form-check">
      <input
        class="form-check-input"
        type="checkbox"
        value=""
        ngModel
        name="repeat"
        [(ngModel)]="repeat"
        id="repeatbrand"
      />
      <label class="form-check-label" for="repeatbrand">
        ¿ Agendar de manera recurrente ?
      </label>
    </div>
  </div>

  <div class="row p-3">
    <div class="col-md-4 my-2" *ngIf="repeat">
      <label>Inicio de Agendamiento</label>
      <input
        class="form-control"
        type="date"
        name="date_startRecurrente"
        value="2018-01-01"
        [(ngModel)]="fechaInicioRecurrente"
        required
        #date_start="ngModel"
      />
    </div>

    <div class="col-md-4 my-2" *ngIf="repeat">
      <label>Fin de Agendamiento</label>
      <input
        class="form-control"
        required
        type="date"
        name="date_endRecurrente"
        [(ngModel)]="fechaFinRecurrente"
      />
    </div>

    <div class="col-md-4 my-2" *ngIf="repeat">
      <label>Dias</label>
      <ng-select
        [items]="diasSemana"
        required
        multiple="true"
        bindLabel="text"
        bindValue="value"
        ngModel
        placeholder="Seleccione "
        [(ngModel)]="daysRecurrente"
        name="daysRecurrente"
        loadingText="loading"
        ngDefaultControl
      >
      </ng-select>
    </div>
  </div>

  <div class="col-12 mt-12">
    <button
      class="btn btn-success btn-block"
      [disabled]="registerCita.invalid || loading"
      (click)="save(registerCita)"
    >
      <span *ngIf="!loading; else status">Crear cita</span>

      <ng-template #status>
        <span
          class="spinner-border spinner-border-sm"
          role="status"
          aria-hidden="true"
        ></span>
        Creando Cita...
      </ng-template>
    </button>
  </div>
</form>

<ng-template #diagnostic let-r="result" let-t="term">
  <span class="f-9">
    <strong>{{ r.text }}</strong>
  </span>
</ng-template>

<ng-template #procedure let-r="result" let-t="term">
  <span class="f-9">
    <strong>{{ r.text }}</strong>
  </span>
</ng-template>
