<div class="card" *ngIf="show">
  <div class="card-body">
    <div class="row card-title d-flex justify-content-between">
      <div class="col-md-10 px-0">
        <h5 class="text-primary">Datos de pago</h5>
      </div>
      <div class="col-md-2 px-0 text-right">
        <button class="btn btn-link" (click)="openModal()">
          <i class="fas fa-pencil-alt"></i>
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 text-lg-right text-center text-primary">
        Frecuencia de pago
      </div>
      <div class="col-lg-6 text-lg-left text-center">
        {{ payments.payment_frequency }}
      </div>
      <div class="col-lg-6 text-lg-right text-center text-primary">
        Medio de pago
      </div>
      <div class="col-lg-6 text-lg-left text-center">
        {{ payments.payment_method }}
      </div>
      <div class="col-lg-6 text-lg-right text-center text-primary">Banco</div>
      <div class="col-lg-6 text-lg-left text-center">
        {{ bank }}
      </div>
      <div class="col-lg-6 text-lg-right text-center text-primary">
        Tipo de cuenta
      </div>
      <div class="col-lg-6 text-lg-left text-center">
        {{ payments.account_type }}
      </div>
      <div class="col-lg-6 text-lg-right text-center text-primary">
        Número de cuenta
      </div>
      <div class="col-lg-6 text-lg-left text-center">
        {{ payments.account_number }}
      </div>
    </div>
  </div>
</div>
<app-modal-basic #modal [dialogClass]="'modal-md'">
  <div class="app-modal-header">
    <h5 class="modal-title">Datos De Pago</h5>
    <button type="button" class="close basic-close" (click)="modal.hide()">
      <span aria-hidden="true">
        <i class="fas fa-times" (click)="modal.hide()"></i>
      </span>
    </button>
  </div>
  <div class="app-modal-body">
    <form [formGroup]="form">
      <div class="row">
        <div class="col-12">
          <div class="form-row">
            <div class="form-group col-6">
              <label for="">Frecuencia De Pago</label>
              <select
                class="form-control form-control-sm"
                formControlName="payment_frequency"
              >
                <option
                  *ngFor="let payment_frequency of payment_frequencys"
                  [value]="payment_frequency.valor"
                >
                  {{ payment_frequency.clave }}
                </option>
              </select>
            </div>
            <div class="form-group col-6">
              <label for="">Medio de Pago</label>
              <select
                class="form-control form-control-sm"
                formControlName="payment_method"
              >
                <option
                  *ngFor="let payment of payment_method"
                  [value]="payment.valor"
                >
                  {{ payment.clave }}
                </option>
              </select>
            </div>
            <div class="form-group col-12">
              <label for="">Banco del cual realizaran los pagos</label>
              <select
                class="form-control form-control-sm"
                formControlName="bank_id"
              >
                <option *ngFor="let bank of banks" [value]="bank.value">
                  {{ bank.text }}
                </option>
              </select>
            </div>
            <div class="form-group col-6">
              <label for="">Tipo de Cuenta</label>
              <select
                class="form-control form-control-sm"
                formControlName="account_type"
              >
                <option
                  *ngFor="let account_type of account_types"
                  [value]="account_type.valor"
                >
                  {{ account_type.clave }}
                </option>
              </select>
            </div>
            <div class="form-group col-6">
              <label for="">Número de Cuenta</label>
              <input
                type="number"
                class="form-control form-control-sm"
                formControlName="account_number"
              />
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="app-modal-footer">
    <div class="form-group text-right">
      <button
        (click)="modal.hide()"
        type="button"
        class="btn btn-danger raised mr-2 btn-sm"
      >
        Cerrar
      </button>
      <button
        type="submit"
        class="btn btn-primary btn-sm raised"
        (click)="savePaymentData()"
      >
        Guardar
      </button>
    </div>
  </div>
</app-modal-basic>
