<div class="row card-title d-flex justify-content-between">
  <div class="col-md-6 px-0">
    <h4 class="text-dark">{{ company_name }}</h4>
    <mat-form-field appearance="outline" *ngIf="!rutaActiva.snapshot.params.id">
      <mat-label>Empresa</mat-label>
      <mat-select
        [(ngModel)]="currentCompany"
        name="currentCompany"
        (selectionChange)="getDataCompany()"
      >
        <mat-option *ngFor="let company of companies" [value]="company.id">
          {{ company.name }}</mat-option
        >
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-md-2 px-0 text-right">
    <div class="btn-group rounded w-sm-100">
      <button
        type="button"
        class="btn btn-primary btn-sm"
        (click)="openModal(modal)"
      >
        Cambiar configuración de pago
      </button>
    </div>
  </div>
</div>
<ul
  ngbNav
  #nav="ngbNav"
  [(activeId)]="active"
  class="nav nav-tabs justify-content-center"
  role="tablist"
>
  <li [ngbNavItem]="1" class="nav-item flex-sm-fill">
    <a
      ngbNavLink
      data-toggle="tab"
      role="tab"
      aria-controls="home"
      aria-selected="true"
      (click)="getDataCompany()"
      class="nav-link border-0 text-uppercase font-weight-bold"
      >Información</a
    >
    <ng-template ngbNavContent>
      <div class="row">
        <div class="col-md-6">
          <app-datos-basicos-empresa></app-datos-basicos-empresa>
          <app-datos-pila></app-datos-pila>
        </div>
        <div class="col-md-6">
          <app-datos-nomina></app-datos-nomina>
          <app-datos-pago></app-datos-pago>
        </div>
      </div>
    </ng-template>
  </li>
  <li [ngbNavItem]="2" class="nav-item flex-sm-fill">
    <a
      ngbNavLink
      data-toggle="tab"
      role="tab"
      aria-controls="home"
      aria-selected="true"
      class="nav-link border-0 text-uppercase font-weight-bold"
      >Estructura</a
    >
    <ng-template ngbNavContent> 
      <app-estructura-empresa></app-estructura-empresa>
    </ng-template>
  </li>
  <li [ngbNavItem]="3" class="nav-item flex-sm-fill">
    <a
      ngbNavLink
      data-toggle="tab"
      role="tab"
      aria-controls="home"
      aria-selected="true"
      class="nav-link border-0 text-uppercase font-weight-bold"
      >Cuentas bancarias</a
    >
    <ng-template ngbNavContent> 
      <app-cuentas-bancarias></app-cuentas-bancarias>
    </ng-template>
  </li>
  <li [ngbNavItem]="4" class="nav-item flex-sm-fill">
    <a
      ngbNavLink
      data-toggle="tab"
      role="tab"
      aria-controls="home"
      aria-selected="true"
      class="nav-link border-0 text-uppercase font-weight-bold"
      >Categorías</a
    >
    <ng-template ngbNavContent> 
      <app-categorias></app-categorias>
      <app-subcategorias></app-subcategorias>
      <app-subcategoria-contabilidad></app-subcategoria-contabilidad>
    </ng-template>
  </li>
</ul>
<div [ngbNavOutlet]="nav" class="mt-2"></div>

<ng-template #notData>
  <app-not-data [loading]="loading"></app-not-data>
</ng-template>

<ng-template #modal let-modal>
  <div class="modal-header">
    <h4 class="text-primary modal-title">Configuración de pago</h4>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="form">
      <div class="row">
        <div class="col-12">
          <div class="form-row">
            <div class="form-group col-6">
              <label for="">Cálculo para incapacidad general</label>
              <select
                class="form-control form-control-sm"
                formControlName="calculate_work_disability"
              >
                <option value=""></option>
              </select>
            </div>
            <div class="form-group col-6">
              <label for="">Pago de Deducciones</label>
              <select
                class="form-control form-control-sm"
                formControlName="pay_deductions"
              >
                <option value="proporcionales">
                  Proporcionales en cada pago
                </option>
                <option value="final_periodo">Al final del periodo</option>
              </select>
            </div>
            <div class="form-group col-6">
              <label for="">¿Pago Recurrentes?</label>
              <select
                class="form-control form-control-sm"
                formControlName="recurring_payment"
              >
                <option value="proporcionales">Proporcionales</option>
                <option value="fijos">Fijos</option>
              </select>
            </div>
            <div class="form-group col-6">
              <label for="">¿Como se paga el auxilio de transporte?</label>
              <select
                class="form-control form-control-sm"
                formControlName="payment_transport_subsidy"
              >
                <option value="Mensual">Mensual</option>
                <option value="Quincenal">Quincenal</option>
              </select>
            </div>
            <div class="form-group col-6">
              <label for=""
                >¿Horas extras y recargos afectan auxilio de transporte?</label
              >
              <select
                class="form-control form-control-sm"
                formControlName="affects_transportation_subsidy"
              >
                <option value="Si">Si</option>
                <option value="No">No</option>
              </select>
            </div>
            <div class="form-group col-6">
              <label for="">¿Pagar el día 31 del mes en vacaciones?</label>
              <select
                class="form-control form-control-sm"
                formControlName="pay_vacations"
              >
                <option value="Si">Si</option>
                <option value="No">No</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="modal.dismiss()">
      Cancelar
    </button>
    <button type="button" (click)="changePaymentConfiguration()" class="btn btn-primary">Guardar</button>
  </div>
</ng-template>


