<div class="card">
  <div class="card-body">
    <div class="row card-title d-flex justify-content-between">
      <div class="col-md-6 px-0">
        <h5 class="text-primary">Tipos de salarios</h5>
      </div>
      <div class="col-md-6 px-0 text-right">
        <div class="btn-group rounded w-sm-100">
          <!-- <button class="btn btn-primary btn-sm" (click)="openModal(modal)">
            <i class="fa fa-plus"></i> Agregar
          </button> -->
          <button class="btn btn-info btn-sm" (click)="openClose()">
            <i class="fas fa-sliders-h"></i> Filtros
          </button>
        </div>
      </div>
    </div>
    <hr class="line" />
    <mat-accordion multi>
      <mat-expansion-panel class="mat-elevation-z0">
        <div class="row">
          <mat-form-field class="col" appearance="outline">
            <mat-label>Nombre</mat-label>
            <input
              matInput
              type="text"
              placeholder="Busca por nombre"
              [(ngModel)]="filtro.name"
              (input)="getSalaryTypes()"
              name="name"
              autocomplete="off"
            />
          </mat-form-field>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
    <!--  <ng-select class="mr-1" [items]="lists" [(ngModel)]="filtro.name" (change)="getSalaryTypes()" name="name" bindLabel="text" bindValue="value" loadingText="loading" ngDefaultControl>
                    </ng-select> -->
    <div class="rounded-top table-responsive">
      <table
        class="table table-bordered table-striped table-sm"
        *ngIf="!loading && salaries.length > 0; else notData"
      >
        <thead class="bg-light">
          <tr class="text-center text-uppercase">
            <th>Tipos de Salario</th>
            <!-- <th><i class="mdi mdi-chevron-down"></i></th> -->
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let salary of salaries"
            [ngClass]="{
              'text-danger font-weight-bold': salary.status === 'Inactivo'
            }"
          >
            <td>{{ salary.name }}</td>
            <!-- <td class="text-center">
              <div ngbDropdown container="body" class="dropdown-primary">
                <button
                  ngbDropdownToggle
                  class="btn btn-primary btn-sm waves-light"
                  type="button"
                >
                  <i class="mdi mdi-chevron-down"></i>
                </button>
                <div ngbDropdownMenu>
                  <a
                    class="dropdown-item text-info waves-light caja-botones"
                    href="javascript:void(0)"
                    (click)="getData(salary, modal)"
                    ><i class="far fa-edit"></i> Editar</a
                  >
                  <a
                    *ngIf="salary.status == 'Activo'"
                    href="javascript:void(0)"
                    class="dropdown-item text-danger waves-light caja-botones"
                    (click)="activateOrInactivate(salary, 'Inactivo')"
                  >
                    <i class="far fa-trash-alt"></i> Anular</a
                  >
                  <a
                    *ngIf="salary.status == 'Inactivo'"
                    href="javascript:void(0)"
                    class="dropdown-item text-success waves-light caja-botones"
                    (click)="activateOrInactivate(salary, 'Activo')"
                  >
                    <i class="fas fa-check"></i> Activar</a
                  >
                </div>
              </div>
            </td> -->
          </tr>
        </tbody>
      </table>
    </div>
    <ngb-pagination
      class="d-flex justify-content-center pagination-rounded pagination-sm"
      [collectionSize]="pagination.collectionSize"
      [pageSize]="pagination.pageSize"
      [(page)]="pagination.page"
      (pageChange)="getSalaryTypes($event)"
      aria-label="Default pagination"
      maxSize="5"
      rotate="true"
      ellipses="false"
      boundaryLinks="true"
      rotate="true"
      ellipses="false"
      boundaryLinks="true"
    >
    </ngb-pagination>
  </div>
</div>

<ng-template #modal let-modal>
  <div class="modal-header">
    <h4 class="text-primary modal-title">{{ selected }}</h4>
    <button
      type="button"
      class="close"
      data-dismiss="modal"
      aria-label="Close"
      (click)="close()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <form [formGroup]="form">
      <div class="row">
        <mat-form-field appearance="outline" class="col">
          <mat-label>Nombre</mat-label>
          <input
            matInput
            type="text"
            placeholder="Ingresa el nombre"
            formControlName="name"
            name="name"
            autocomplete="off"
            required
          />
          <mat-error *ngIf="name_invalid">Es necesario el nombre</mat-error>
        </mat-form-field>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-danger" (click)="close()">
      Cancelar
    </button>
    <button
      type="button"
      [disabled]="!form.valid"
      (click)="createSalaryType()"
      class="btn btn-primary"
    >
      Guardar
    </button>
  </div>
</ng-template>

<ng-template #notData>
  <app-not-data [loading]="loading"></app-not-data>
</ng-template>
