/* .dropdown-item{
    max-width: 120px !important;
    word-break: break-word !important;
    white-space: normal !important;
    border-bottom: 0.5px dotted #ccc !important;
    line-height: 12px;
    font-size: 10px;
    letter-spacing: 1px;
    
} */
::ng-deep .mat-expansion-panel-body {
    padding: 0px !important;
}
::ng-deep .mat-form-field-infix {
    height: 40px;
    font-size: 12px;
}