.dropdown-item{
    max-width: 120px !important;
    word-break: break-word !important;
    white-space: normal !important;
    border-bottom: 0.5px dotted #ccc !important;
    line-height: 12px;
    font-size: 10px;
    letter-spacing: 1px;
    
}