<div class="card">
  <div class="card-body">
    <div class="row card-title d-flex justify-content-between">
      <div class="col-md-12 px-0">
        <h4 class="text-primary">Tipos de agenda</h4>
      </div>
    </div>
    <hr class="line" />
    <div
      class="rounded-top table-responsive"
      *ngIf="!loading && tiposAgenda.length > 0; else notData"
    >
      <table class="table table-bordered table-striped table-sm">
        <thead class="bg-light">
          <tr class="text-center text-uppercase">
            <th scope="col">Nombre</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of tiposAgenda" class="text-center">
            <td>{{ item.name }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <ngb-pagination
      class="d-flex justify-content-center pagination-rounded pagination-sm"
      [collectionSize]="pagination.collectionSize"
      [pageSize]="pagination.pageSize"
      [(page)]="pagination.page"
      (pageChange)="getTiposAgenda($event)"
      aria-label="Default pagination"
      maxSize="10"
      rotate="true"
      ellipses="false"
      boundaryLinks="true"
    >
    </ngb-pagination>
</div>
<ng-template #notData>
  <app-not-data [loading]="loading"></app-not-data>
</ng-template>
