<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <div class="row mb-4">
                    <div class="col-6 ">
                        <h4 class="">Tipos de Consulta</h4>
                    </div>
                    <div class="col-6 d-flex justify-content-end">
                        <form class="form-inline">
                            <div class="form-group">
                                <label for="">Buscar:</label>
                                <input type="text" placeholder="Buscador de Tipos Consulta" class="form-control mx-sm-3">
                            </div>
                        </form>
                    </div>
                </div>

                <div class="">
                    <table class="table table-hover mb-0 table-centered table-nowrap ">
                        <thead class="thead-dark ">
                            <tr>
                                <th>Ícono</th>
                                <th>Nombre</th>
                                <th>Descripción</th>
                                <th class="text-right "> </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of type_appointments">
                                <td><i class="{{item.icon}}"> </i></td>
                                <td>{{item.name}}</td>
                                <td>{{item.description}}</td>
                                <td class="text-right ">
                                    <div class="btn-group " role="group " ngbDropdown>
                                        <button type="button " class="btn btn-primary dropdown-toggle " ngbDropdownToggle>
                                        Acciones <i class="mdi mdi-chevron-down "></i>
                                      </button>
                                        <div style="cursor: pointer; " class="dropdown-menu font-weight-bolder " aria-labelledby="btnGroupVerticalDrop1 " ngbDropdownMenu>
                                            <a class="dropdown-item "> <i class="fa fa-search mr-2 "></i>Ver más</a>
                                            <a class="dropdown-item "> <i class="fa fa-edit mr-2 "></i>Editar </a>
                                            <a class="dropdown-item "> <i class="fa fa-ban mr-2 "></i>Suspender </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="row align-items-right mt-2 ">

                    <div class="col-sm-12 ">
                        <div class="text-md-right float-md-right pagination-rounded ">
                            <ngb-pagination [collectionSize]="pagination.collectionSize " [pageSize]="pagination.pageSize " [(page)]="pagination.page " aria-label="Paginacion"></ngb-pagination>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <div class="row mb-4">
                    <div class="col-6 ">
                        <h4 class="">Tipos de Agenda</h4>
                    </div>
                    <div class="col-6 d-flex justify-content-end">
                        <form class="form-inline">
                            <div class="form-group">
                                <label for="">Buscar:</label>
                                <input type="text"  placeholder="Buscador Tipos de Agenda" class="form-control mx-sm-3" aria-describedby="passwordHelpInline">
                            </div>
                        </form>
                    </div>
                </div>

                <div class="">
                    <table class="table table-hover mb-0 table-centered table-nowrap ">
                        <thead class="thead-dark ">
                            <tr>
                                <th>Tipo Consulta</th>
                                <th>Nombre</th>
                                <th class="text-right "> </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of sub_type_appointments">
                                <td>{{item.type_appointment}}</td>
                                <td>{{item.name}}</td>
                                <td class="text-right ">
                                    <div class="btn-group " role="group " ngbDropdown>
                                        <button  type="button " class="btn btn-primary dropdown-toggle " ngbDropdownToggle>
                                        Acciones <i class="mdi mdi-chevron-down "></i>
                                      </button>
                                        <div style="cursor: pointer; " class="dropdown-menu font-weight-bolder " aria-labelledby="btnGroupVerticalDrop1 " ngbDropdownMenu>
                                            <a class="dropdown-item "> <i class="fa fa-search mr-2 "></i>Ver más</a>
                                            <a class="dropdown-item "> <i class="fa fa-edit mr-2 "></i>Editar </a>
                                            <a class="dropdown-item "> <i class="fa fa-ban mr-2 "></i>Suspender </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row align-items-right mt-2 ">

                    <div class="col-sm-12 ">
                        <div class="text-md-right float-md-right pagination-rounded ">
                            <ngb-pagination [collectionSize]="pagination2.collectionSize " [pageSize]="pagination2.pageSize " [(page)]="pagination2.page " aria-label="Paginación"></ngb-pagination>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </div>
</div>