<form [formGroup]="form" (ngSubmit)="save()">
  <div class="row">
    <div class="col-md-4">
      <div class="row">
        <div class="col-12">
          <div class="form-group text-center">
            <img
              id="imageOutput"
              [src]="fileString"
              alt="Imagen del funcionario"
              class="d-block img-thumbnail rounded-circle mx-auto img-fluid"
            />
            <div class="custom-input-file col-md-12 mt-3">
              <input
                type="file"
                id="image"
                name="image"
                class="input-file"
                formControlName="image"
                [class.is-invalid]="image_valid"
                (change)="onFileChanged($event)"
                accept="image/*"
              />
              Cargar imagen
            </div>
            <div class="text-center">
              <ng-container *ngIf="image_valid">
                <small class="text-danger"> Imagen es obligatoria </small>
              </ng-container>
            </div>
          </div>
        </div>
        <mat-form-field appearance="outline" class="col-12">
          <mat-label>Tipo de documento</mat-label>
          <mat-select formControlName="type_document_id" required>
            <mat-option *ngFor="let item of documenttypes" [value]="item.value">
              {{ item.text }}
            </mat-option>
          </mat-select>
          <mat-error>Campo obligatorio</mat-error>
          <mat-icon matSuffix>branding_watermark</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-12">
          <mat-label>Documento de identidad</mat-label>
          <input
            matInput
            placeholder="Ingresa documento de identidad"
            type="number"
            formControlName="identifier"
            (change)="validarCedula($event)"
            name="document"
            class="numberInput"
            required
            autocomplete="off"
          />
          <mat-icon matSuffix>badge</mat-icon>
          <mat-error *ngIf="identifier_valid">Campo obligatorio</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-12">
          <mat-label>Primer nombre</mat-label>
          <input
            matInput
            placeholder="Ingresa el primer nombre"
            type="text"
            formControlName="first_name"
            name="first-name"
            required
            autocomplete="off"
          />
          <mat-icon matSuffix>looks_one</mat-icon>
          <mat-error *ngIf="first_name_valid">Campo obligatorio</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-12">
          <mat-label>Segundo nombre</mat-label>
          <input
            matInput
            placeholder="Ingresa el segundo nombre"
            type="text"
            formControlName="second_name"
            name="second-name"
            autocomplete="off"
          />
          <mat-icon matSuffix>looks_two</mat-icon>
        </mat-form-field>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <mat-form-field appearance="outline" class="col-12">
          <mat-label>Primer apellido</mat-label>
          <input
            matInput
            placeholder="Ingresa el primer apellido"
            type="text"
            required
            formControlName="first_surname"
            name="first_surname"
            autocomplete="off"
          />
          <mat-icon matSuffix>looks_one</mat-icon>
          <mat-error *ngIf="first_surname_valid">Campo obligatorio </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-12">
          <mat-label>Segundo apellido</mat-label>
          <input
            matInput
            placeholder="Ingresa el segundo apellido"
            type="text"
            formControlName="second_surname"
            name="second_surname"
            autocomplete="off"
          />
          <mat-icon matSuffix>looks_two</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-12">
          <mat-label>Correo electrónico</mat-label>
          <input
            matInput
            placeholder="Ej: innovating@example.com"
            type="email"
            required
            formControlName="email"
            name="email"
            autocomplete="off"
          />
          <mat-icon matSuffix>email</mat-icon>
          <mat-error *ngIf="first_surname_valid">Campo obligatorio </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-12">
          <mat-label>Fecha de nacimiento</mat-label>
          <input matInput type="date" formControlName="birth_date" required />
          <mat-error *ngIf="date_of_birth_valid">Campo obligatorio </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-12">
          <mat-label>Lugar de nacimiento</mat-label>
          <input
            matInput
            required
            placeholder="Ingresa el lugar de nacimiento"
            type="text"
            formControlName="birth_place"
            name="city"
            autocomplete="off"
          />
          <mat-icon matSuffix>location_city</mat-icon>
          <mat-error *ngIf="place_of_birth_valid">Campo obligatorio </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-12">
          <mat-label>Dirección de residencia</mat-label>
          <input
            matInput
            placeholder="Ingresa la dirección de residencia"
            type="text"
            required
            formControlName="address"
            name="direction"
            autocomplete="off"
          />
          <mat-icon matSuffix>home_filled</mat-icon>
          <mat-error *ngIf="direction_valid">Campo obligatorio </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-12">
          <mat-label>Género</mat-label>
          <mat-select formControlName="sex" required>
            <mat-option value="Masculino">Masculino</mat-option>
            <mat-option value="Femenino">Femenino</mat-option>
          </mat-select>
          <mat-icon matSuffix>people</mat-icon>
          <mat-error *ngIf="gener_valid">Campo obligatorio </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <mat-form-field appearance="outline" class="col-12">
          <mat-label>Teléfono fijo</mat-label>
          <input
            matInput
            placeholder="Ingresa el teléfono fijo"
            type="number"
            required
            formControlName="phone"
            name="phone"
            class="numberInput"
            autocomplete="off"
          />
          <mat-icon matSuffix>phone</mat-icon>
          <mat-error *ngIf="phone_valid">Campo obligatorio </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-12">
          <mat-label>Teléfono celular</mat-label>
          <input
            matInput
            placeholder="Ingresa el teléfono celular"
            type="text"
            formControlName="cell_phone"
            required
            name="cell-phone"
            autocomplete="off"
          />
          <mat-icon matSuffix>phone_iphone</mat-icon>
          <mat-error *ngIf="cell_phone_valid">Campo obligatorio </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-12">
          <mat-label>Tipo de sangre</mat-label>
          <mat-select required formControlName="blood_type">
            <mat-option *ngFor="let tipo of tipoSangre" [value]="tipo.valor">
              {{ tipo.clave }}
            </mat-option>
          </mat-select>
          <mat-icon matSuffix>bloodtype</mat-icon>
          <mat-error *ngIf="blood_type_valid">Campo obligatorio </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-12">
          <mat-label>Estado civil</mat-label>
          <mat-select formControlName="marital_status" required>
            <mat-option *ngFor="let estado of estados" [value]="estado.valor">
              {{ estado.clave }}
            </mat-option>
          </mat-select>
          <mat-icon matSuffix>favorite</mat-icon>
          <mat-error *ngIf="marital_status_valid">Campo obligatorio </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-12">
          <mat-label>Número de hijos</mat-label>
          <input
            matInput
            placeholder="Ingresa el número de hijos"
            type="number"
            class="numberInput"
            formControlName="number_of_children"
            required
            name="children"
            autocomplete="off"
          />
          <mat-icon matSuffix>escalator_warning</mat-icon>
          <mat-error *ngIf="number_of_children_valid"
            >Campo obligatorio
          </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-12">
          <mat-label>Nivel académico</mat-label>
          <mat-select formControlName="degree" required>
            <mat-option *ngFor="let grado of instruccion" [value]="grado.valor">
              {{ grado.clave }}
            </mat-option>
          </mat-select>
          <mat-icon matSuffix>school</mat-icon>
          <mat-error *ngIf="degree_valid">Campo obligatorio </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-12">
          <mat-label>Título</mat-label>
          <input
            matInput
            placeholder="Ingresa el nombre del título"
            type="text"
            formControlName="title"
            name="children"
            required
            autocomplete="off"
          />
          <mat-icon matSuffix>verified</mat-icon>
          <mat-error *ngIf="title_valid">Campo obligatorio </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="col-12">
      <div class="d-flex justify-content-end">
        <button type="submit" class="btn btn-lg btn-primary">Siguiente</button>
      </div>
    </div>
  </div>
</form>
