<div class="row">
  <div class="col-6">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <mat-form-field class="col-md-5" appearance="outline">
            <mat-label>Número de documento</mat-label>
            <input
              matInput
              type="text"
              placeholder="Busca por documento"
              [(ngModel)]="filters.patient"
              name="patient"
              autocomplete="off"
            />
          </mat-form-field>
          <mat-form-field class="col-md-5" appearance="outline">
            <mat-label>Fecha</mat-label>
            <input
              matInput
              type="date"
              [(ngModel)]="filters.date"
              name="date"
              autocomplete="off"
            />
          </mat-form-field>
          <div class="col-1 py-2">
            <button mat-icon-button color="primary" (click)="searchPatient()">
              <mat-icon aria-label="Example icon-button with a heart icon"
                >search</mat-icon
              >
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-2">
    <app-stats
      [title]="'Pacientes Confirmados'"
      [value]="appointmentConfirm"
      [icon]="'fas fa-user-friends'"
    >
    </app-stats>
  </div>
  <div class="col-2">
    <app-stats
      [title]="'Pacientes Recaudados'"
      [value]="appointmentCollection"
      [icon]="'fas fa-user-check'"
    >
    </app-stats>
  </div>
  <div class="col-2">
    <app-stats
      [title]="'Valor Recaudado'"
      [value]="appointmentCollectionAll"
      [icon]="'fas fa-money-bill-wave'"
    >
    </app-stats>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <table
      class="table table-bordered table-striped table-sm table-responsive-sm"
      style="font-size: small"
      *ngIf="!loading && citas.length > 0; else notData"
    >
      <thead>
        <tr class="text-center text-uppercase">
          <th></th>
          <th>Fecha</th>
          <th>Profesional</th>
          <th>Paciente</th>
          <th>EPS</th>
          <th>Copago</th>
          <th class="col-md-3">Descripción</th>
          <th>Estado</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let item of citas"
          [ngClass]="{ 'text-info': !item.payed }"
          class="text-center"
        >
          <td class="align-middle">
            <i
              [ngClass]="{
                'fa-user': item.face_to_face,
                'fa-video': !item.face_to_face
              }"
              class="fa"
            ></i>
          </td>
          <td class="align-middle">
            {{ item.date | date: "dd/MM/yyyy hh:mm a" }}
          </td>
          <td class="align-middle">{{ item.professional }}</td>
          <td class="align-middle">{{ item.patient }}</td>
          <td class="align-middle">{{ item.eps }}</td>
          <td class="align-middle">{{ item.copago | number }}</td>
          <td class="align-middle">
            <details>
              <summary>Ver descripción</summary>
              <p>{{ item.description }}</p>
            </details>
          </td>
          <td class="align-middle">{{ item.state }}</td>
          <td class="align-middle" *ngIf="item.payed">
            <a
              role="button"
              (click)="recaudoCuota(item)"
              
              title="Recaudo de Cuota"
            >
              <i class="fas fa-hand-holding-usd"></i>
            </a>
          </td>

          <td class="align-middle" *ngIf="!item.payed">
            <i class="fa fa-thumbs-up"></i>
          </td>
        </tr>
      </tbody>
    </table>
    <ngb-pagination
      class="d-flex justify-content-center pagination-rounded pagination-sm"
      maxSize="7"
      [collectionSize]="pagination.collectionSize"
      (pageChange)="searchPatient($event)"
      [pageSize]="pagination.pageSize"
      [(page)]="pagination.page"
      [rotate]="true"
      aria-label="Default pagination "
    >
    </ngb-pagination>
  </div>
</div>

<app-modal-payment
  [modalData]="openModalRecaudo"
  (reloadData)="activeObservable()"
></app-modal-payment>

<ng-template #notData>
  <app-not-data [loading]="loading"></app-not-data>
</ng-template>
