<div class="card">
  <div class="card-body">
    <div class="card-title d-flex justify-content-between">
      <h4 class="text-primary">Pago de prima</h4>
      <button class="btn btn-info btn-sm">
        <i class="fas fa-file-excel"></i> Resumen prima
      </button>
      <!-- <h4 style="float: right;">Empleados () </h4> -->
    </div>
    <hr class="line" />
    <table
      class="table table-bordered table-striped table-sm table-responsive-sm"
      style="font-size: small"
    >
      <thead class="bg-light">
        <tr class="text-center text-uppercase">
          <th>Persona</th>
          <th>Salario</th>
          <th>Formula Prima</th>
          <th>Calculos</th>
          <th>Pago a Empleado</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
    <div class="d-flex justify-content-end">
        Total Prima: {{ 0 | currency: 'COP' }}
    </div>
    <button class="btn btn-primary btn-block">Pagar Prima</button>
  </div>
</div>
<ng-template #notData>
  <app-not-data [loading]="loading"></app-not-data>
</ng-template>
