<div class="d-flex justify-content-end">
  <button class="btn btn-link" (click)="modal.openModal(id)">
    <i class="fas fa-pencil-alt"></i>
  </button>
</div>
<div class="row" *ngIf="!loading && funcionario; else notData">
  <div class="col-lg-6 text-lg-right text-center text-primary">
    Nombre completo
  </div>
  <div class="col-lg-6 text-lg-left text-center">
    {{ funcionario.first_name }} {{ funcionario.second_name }}
    {{ funcionario.first_surname }} {{ funcionario.second_surname }}
  </div>
  <div class="col-lg-6 text-lg-right text-center text-primary">
    Documento de identidad
  </div>
  <div class="col-lg-6 text-lg-left text-center">
    {{ funcionario.identifier }}
  </div>
  <div class="col-lg-6 text-lg-right text-center text-primary">
    Correo electrónico
  </div>
  <div class="col-lg-6 text-lg-left text-center">
    {{ funcionario.email }}
  </div>

  <div class="col-lg-6 text-lg-right text-center text-primary">
    Título de estudio
  </div>
  <div class="col-lg-6 text-lg-left text-center">
    {{ funcionario.degree }}
  </div>

  <div class="col-lg-6 text-lg-right text-center text-primary">
    Fecha de nacimiento
  </div>
  <div class="col-lg-6 text-lg-left text-center">
    {{ funcionario.birth_date }}
  </div>
  <div class="col-lg-6 text-lg-right text-center text-primary">Género</div>
  <div class="col-lg-6 text-lg-left text-center">
    {{ funcionario.sex }}
  </div>

  <div class="col-lg-6 text-lg-right text-center text-primary">
    Estado civil
  </div>
  <div class="col-lg-6 text-lg-left text-center">
    {{ funcionario.marital_status }}
  </div>
  <div class="col-lg-6 text-lg-right text-center text-primary">
    Dirección de residencia
  </div>
  <div class="col-lg-6 text-lg-left text-center">
    {{ funcionario.address }}
  </div>
  <div class="col-lg-6 text-lg-right text-center text-primary">Celular</div>
  <div class="col-lg-6 text-lg-left text-center">
    {{ funcionario.cell_phone }}
  </div>
</div>
<ng-template #notData>
  <app-not-data [loading]="loading"></app-not-data>
</ng-template>
<app-modal-datos-basicos></app-modal-datos-basicos>
