

.rules-level2{
    
    padding: 10px !important;
    border-radius: 10px !important;
    border: 1.2px solid rgb(4, 104, 185,.4);
 /*    box-shadow: 3px 3px 5px rgb(4, 104, 185,.4); */
    /* :hover{
        background-color: gainsboro;
    } */
}