.ng-select {
    height: calc(1.5em + 0.5rem + 2px) !important;
    font-size: 0.7875rem;
    line-height: 1.5;
   
}
.ng-select-container{
    height: calc(1.5em + 0.5rem + 2px) !important;
    min-height: auto !important;
}