<div class="row">
    <div class="col-12">


        <form>
            <div class="form-row">

                <div class="form-group col-md-6">
                    <label for="exampleInputPassword1">Tipo Identificación</label>
                    <select class="custom-select custom-select-sm" name="Id_Tipo_Identificacion" [(ngModel)]="paciente.Id_Tipo_Identificacion">
                        <option [value]="type.Id" *ngFor="let type of typesDocuments">{{type.Nombre}}</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label for="exampleInputPassword1">Identificación</label>
                    <input type="text" name="Identificacion" [(ngModel)]="paciente.Identificacion" class="form-control form-control-sm" id="exampleInputPassword1">
                </div>
                <div class="form-group col-md-6 ">
                    <label for="exampleInputEmail1">Nombre</label>
                    <input type="text" name="Nombres" [(ngModel)]="paciente.Nombres" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp">
                </div>
                <div class="form-group col-md-6">
                    <label for="exampleInputPassword1">Apellidos</label>
                    <input type="text" name="Apellidos" [(ngModel)]="paciente.Apellidos" class="form-control form-control-sm" id="exampleInputPassword1">
                </div>
                <div class="form-group col-md-5">
                    <label for="exampleInputPassword1">Fecha Nacimiento</label>
                    <input type="date" name="Fecha_Nacimiento" [(ngModel)]="paciente.Fecha_Nacimiento" class="form-control form-control-sm" id="exampleInputPassword1">
                </div>
                <div class="form-group col-md-5">
                    <label for="exampleInputPassword1">Eps</label>
                    <select class="custom-select custom-select-sm" name="xer" name="Id_Eps" [(ngModel)]="paciente.Id_Eps">
                        <option [value]="type.Id" *ngFor="let type of typesDocuments">{{type.Nombre}}</option>
                    </select>
                </div>
                <div class="form-group col-md-2 ">
                    <label for="exampleInputEmail1">Sexo</label>
                    <select class="custom-select custom-select-sm" name="xer" name="Id_Sexo" [(ngModel)]="paciente.Id_Sexo">
                        <option [value]="type.Id" *ngFor="let type of typesDocuments">{{type.Nombre}}</option>
                    </select>
                </div>

                <div class="form-group col-md-4 ">
                    <label for="exampleInputEmail1">Contrato</label>
                    <select class="custom-select custom-select-sm" name="xer" name="Id_Contrato" [(ngModel)]="paciente.Id_Contrato">
                        <option [value]="type.Id" *ngFor="let type of typesDocuments">{{type.Nombre}}</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="exampleInputPassword1">Id_Regimen</label>
                    <select class="custom-select custom-select-sm" name="xer" name="Id_Regimen" [(ngModel)]="paciente.Id_Regimen">
                        <option [value]="type.Id" *ngFor="let type of typesDocuments">{{type.Nombre}}</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="exampleInputPassword1">Id_Nivel</label>
                    <select class="custom-select custom-select-sm" name="xer" name="Id_Nivel" [(ngModel)]="paciente.Id_Nivel">
                        <option [value]="type.Id" *ngFor="let type of typesDocuments">{{type.Nombre}}</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="exampleInputPassword1">Id_Pais</label>
                    <select class="custom-select custom-select-sm" name="xer" name="Id_Pais" [(ngModel)]="paciente.Id_Pais">
                        <option [value]="type.Id" *ngFor="let type of typesDocuments">{{type.Nombre}}</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="exampleInputPassword1">Id_Departamento</label>
                    <select class="custom-select custom-select-sm" name="xer" name="Id_Departamento" [(ngModel)]="paciente.Id_Departamento">
                        <option [value]="type.Id" *ngFor="let type of typesDocuments">{{type.Nombre}}</option>
                    </select>
                </div>

                <div class="form-group col-md-4">
                    <label for="exampleInputPassword1">Id_Ciudad</label>
                    <select class="custom-select custom-select-sm" name="xer" name="Id_Ciudad" [(ngModel)]="paciente.Id_Ciudad">
                        <option [value]="type.Id" *ngFor="let type of typesDocuments">{{type.Nombre}}</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <label for="exampleInputPassword1">Direccion</label>
                    <input type="text" name="Direccion" [(ngModel)]="paciente.Direccion" class="form-control form-control-sm" id="exampleInputPassword1">
                </div>
                <div class="form-group col-md-4">
                    <label for="exampleInputPassword1">Email</label>
                    <input type="text" name="Email" [(ngModel)]="paciente.Email" class="form-control form-control-sm" id="exampleInputPassword1">
                </div>
                <div class="form-group col-md-4">
                    <label for="exampleInputPassword1">Telefono</label>
                    <input type="number" name="Telefono" [(ngModel)]="paciente.Telefono" class="form-control form-control-sm" id="exampleInputPassword1">
                </div>
                <div class="form-group col-md-4">
                    <label for="exampleInputPassword1">Celular</label>
                    <input type="number" name="Celular" [(ngModel)]="paciente.Celular" class="form-control form-control-sm" id="exampleInputPassword1">
                </div>

                <div class="form-group col-md-12">
                    <button type="submit" class="btn btn-success btn-block">Actualizar</button>
                </div>
            </div>
        </form>




    </div>
</div>