<form [formGroup]="formCompany" (ngSubmit)="save()">
  <div class="row">
    <div class="col-md-4">
      <div class="row">
        <div class="col-12" [ngClass]="company_id_invalid ? 'mb-0' : 'mb-4'">
          <ng-select
            appearance="outline"
            [appendTo]="'body'"
            placeholder="Empresa"
            formControlName="company_id"
            [items]="companies"
            bindLabel="text"
            bindValue="value"
            loadingText="loading "
            ngDefaultControl
          >
          </ng-select>
          <span class="ml-2" *ngIf="company_id_invalid">
            <small class="text-danger"><b> Campo obligatorio </b></small>
          </span>
        </div>
        <div class="col-12" [ngClass]="group_id_invalid ? 'mb-0' : 'mb-4'">
          <ng-select
            appearance="outline"
            [appendTo]="'body'"
            placeholder="Grupo"
            formControlName="group_id"
            (change)="getDependencies($event.value)"
            [items]="groups"
            bindLabel="text"
            bindValue="value"
            loadingText="loading "
            ngDefaultControl
          >
          </ng-select>
          <span class="ml-2" *ngIf="group_id_invalid">
            <small class="text-danger"><b> Campo obligatorio </b></small>
          </span>
        </div>
        <div class="col-12" [ngClass]="dependency_id_invalid ? 'mb-0' : 'mb-4'">
          <ng-select
            appearance="outline"
            [appendTo]="'body'"
            placeholder="Dependencia"
            formControlName="dependency_id"
            (change)="getPositions($event.value)"
            [items]="dependencies"
            bindLabel="text"
            bindValue="value"
            loadingText="loading "
            ngDefaultControl
          >
          </ng-select>
          <span class="ml-2" *ngIf="dependency_id_invalid">
            <small class="text-danger"><b> Campo obligatorio </b></small>
          </span>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="col-12" [ngClass]="position_id_invalid ? 'mb-0' : 'mb-4'">
        <ng-select
          appearance="outline"
          [appendTo]="'body'"
          placeholder="Cargo"
          formControlName="position_id"
          [items]="positions"
          bindLabel="text"
          bindValue="value"
          loadingText="loading"
          ngDefaultControl
        >
        </ng-select>
        <span class="ml-2" *ngIf="position_id_invalid">
          <small class="text-danger"> <b> Campo obligatorio </b> </small>
        </span>
      </div>
      <mat-form-field class="col-12" appearance="outline">
        <mat-label>Salario</mat-label>
        <input
          matInput
          type="number"
          placeholder="Ingresa el salario"
          formControlName="salary"
          required
          autocomplete="off"
        />
        <mat-error *ngIf="salary_invalid"> Campo obligatorio </mat-error>
      </mat-form-field>
      <mat-form-field class="col-12" appearance="outline">
        <mat-label>Fecha de ingreso</mat-label>
        <input
          matInput
          type="date"
          formControlName="date_of_admission"
          required
        />
        <mat-error *ngIf="date_of_admission_invalid">
          Campo obligatorio
        </mat-error>
      </mat-form-field>
    </div>

    <div class="col-md-4">
      <div class="row">
        <div
          class="col-12"
          [ngClass]="work_contract_type_id_invalid ? 'mb-0' : 'mb-0'"
        >
          <ng-select
            appearance="outline"
            [appendTo]="'body'"
            placeholder="Tipo de contrato"
            formControlName="work_contract_type_id"
            [items]="workContractTypes"
            bindLabel="text"
            bindValue="value"
            loadingText="loading"
            (change)="workContractTypesChanged($event.conclude)"
            ngDefaultControl
          >
          </ng-select>
          <span class="ml-2">
            <small class="text-danger" *ngIf="work_contract_type_id_invalid">
              <b> Campo obligatorio </b>
            </small>
          </span>
        </div>
        <mat-form-field
          class="col-12"
          appearance="outline"
          *ngIf="conludeContract"
        >
          <mat-label>Fecha de retiro</mat-label>
          <input matInput type="date" formControlName="date_end" required />
          <mat-error *ngIf="date_end_invalid"> Campo obligatorio </mat-error>
        </mat-form-field>
        <mat-form-field class="col-12" appearance="outline">
          <mat-label>Tipo de turno</mat-label>
          <mat-select
            formControlName="turn_type"
            required
            (selectionChange)="turnChanged($event.value)"
          >
            <mat-option [value]="turn.value" *ngFor="let turn of turnos">
              {{ turn.text }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="turn_type_invalid"> Campo obligatorio </mat-error>
        </mat-form-field>
        <div
          class="col-12"
          [ngClass]="rotating_turn_id_invalid ? 'mb-0' : 'mb-4'"
          *ngIf="turnSelected == 'Fijo'"
        >
          <ng-select
            appearance="outline"
            [appendTo]="'body'"
            placeholder="Turno asignado"
            formControlName="rotating_turn_id"
            [items]="fixedTurns"
            bindLabel="text"
            bindValue="value"
            loadingText="loading"
            ngDefaultControl
          >
          </ng-select>
          <span class="ml-2">
            <small class="text-danger" *ngIf="rotating_turn_id_invalid">
              <b> Es nesario el turno</b>
            </small>
          </span>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="d-flex justify-content-between">
        <button
          type="button"
          class="btn btn-lg btn-primary"
          (click)="previus()"
        >
          Anterior
        </button>
        <button type="submit" class="btn btn-lg btn-primary">Siguiente</button>
      </div>
    </div>
  </div>
</form>

<!-- <div class="form-group row">
  <label for="jefe " class="col-md-4 col-form-label custom-label text-right"
    >Jefe Directo</label
  >
  <select name="turno_fijo_id " class="form-control custom-control col-md-7">
    <option [value]="dependency.id" *ngFor="let dependency of dependencies">
      {{ dependency.name }}
    </option>
  </select>

  <div class="col-md-12 text-center">
    <small class="invalid"></small>
  </div>
</div>
 -->

<!-- <div class="col-md-5">
  <div class="form-group row" *ngIf="turnSelected == 'Rotativo'">
    <label
      for="turno_fijo_id "
      class="col-md-4 col-form-label custom-label text-right"
      >Turno Asignado</label
    >
    <ng-select
      class="col-md-7 p-0"
      formControlName="rotating_turn_id"
      [items]="rotatingTurns"
      bindLabel="text"
      bindValue="value"
      loadingText="loading"
      ngDefaultControl
    >
    </ng-select>

    <div class="col-md-7 offset-4">
      <small class="invalid text-danger" *ngIf="rotating_turn_id_invalid">
        Es nesario el turno
      </small>
    </div>
  </div>
</div> -->
