<div class="row">

    <div class="col-12">


        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th style="width: 20%;">Fecha</th>
                    <th style="width: 20%;">Especialidad</th>
                    <!--  <th style="width: 50%;">Descripción</th> -->
                    <th style="width: 5%;">Estado</th>
                    <th style="width: 5%;"> - </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cita of citas">
                    <th scope="row">{{cita.Fecha}}</th>
                    <td>{{cita.Especialidad}}</td>
                    <!-- <td>{{cita.Descripcion}}</td> -->
                    <td>{{cita.Estado}}</td>
                    <td>
                        <span class="mr-2" style="cursor: pointer;" (click)="detalleCita(cita)">
                            <i class="fas fa-search"></i>
                                    </span>

                    </td>
                </tr>

        </table>

    </div>
</div>

<app-detalle-cita [modalData]="openModalDetalle"></app-detalle-cita>