<div class="card">
  <div class="card-body">
    <div class="card-title d-flex justify-content-between">
      <h4 class="text-primary">{{ _person.id ? "" : "Nuevo" }} Profesional</h4>
      <button
        class="btn btn-primary btn-sm btnRegresar"
        (click)="showFormCreate()"
      >
        <i class="fas fa-arrow-left"></i> Volver
      </button>
    </div>
    <hr class="line" />
    <form [formGroup]="forma" (ngSubmit)="guardar()" novalidate>
      <div class="row">
        <div class="col-md-3">
          <div class="form-group text-center">
            <img
              *ngIf="!person.image_blob"
              id="imageOutput"
              [src]="fileAvatar"
              alt="Imagen del funcionario"
              class="d-block m-auto"
            />
            <img
              *ngIf="person.image_blob"
              id="imageOutput"
              [src]="person.image_blob"
              alt="Imagen del funcionario"
              class="d-block m-auto"
            />
            <label for="image_blob" class="ml-3 subir-archivo mt-2">
              Cargar imagen
              <i class="simple-icon-doc"></i>
            </label>
            <div class="input-group">
              <input
                type="file"
                class="form-control"
                id="image_blob"
                (change)="onFileChanged($event, 'image_blob')"
                accept="image/*"
                class="file"
              />
              <input
                type="hidden"
                name="image_blob"
                [(ngModel)]="person.image_blob"
                formControlName="image_blob"
              />
            </div>
            <app-show-errors
              style="position: absolute; left: 80px"
              class="text-danger"
              [ctrl]="forma.get('image_blob')"
            ></app-show-errors>
          </div>
          <mat-form-field appearance="outline" class="col-12">
            <mat-label>Tipo de documento</mat-label>
            <mat-select
              [(ngModel)]="person.type_document_id"
              formControlName="type_document_id"
            >
              <mat-option
                *ngFor="let item of typesDocuments"
                [value]="item.value"
                >{{ item.text }}</mat-option
              >
            </mat-select>
            <mat-icon matSuffix>branding_watermark</mat-icon>
            <mat-error>
              <app-show-errors
                class="text-danger"
                [ctrl]="forma.get('type_document_id')"
              >
              </app-show-errors>
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="col-12">
            <mat-label>Documento de identidad</mat-label>
            <input
              matInput
              placeholder="Ingresa documento de identidad"
              type="text"
              formControlName="identifier"
              [(ngModel)]="person.identifier"
              id="identifier"
              autocomplete="off"
            />
            <mat-icon matSuffix>badge</mat-icon>
            <mat-error>
              <app-show-errors
                class="text-danger"
                [ctrl]="forma.get('identifier')"
              ></app-show-errors>
            </mat-error>
          </mat-form-field>
          <div class="col-md-12">
            <div class="file-input">
              <input
                type="file"
                id="file"
                class="file"
                (change)="onFileChanged($event, 'signature_blob', 'firma')"
                accept="image/*"
              />
              <input
                type="hidden"
                name="signature_blob"
                [(ngModel)]="person.signature_blob"
                formControlName="signature_blob"
              />
              <label for="file"> Seleccione imagen firma </label>
              <small class="text-center" *ngIf="person.signature_blob"
                >Imagen cargada</small
              >
              <p class="file-name">{{ firma }}</p>
            </div>
            <app-show-errors
              style="position: absolute"
              class="text-danger"
              [ctrl]="forma.get('signature_blob')"
            ></app-show-errors>
          </div>
        </div>
        <div class="col-md-9">
          <div class="row">
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="col-12">
                <mat-label>Registro médico</mat-label>
                <input
                  matInput
                  placeholder="Ingresa registro médico"
                  type="text"
                  [(ngModel)]="person.medical_record"
                  formControlName="medical_record"
                  id="medical_record"
                  autocomplete="off"
                />
                <mat-icon matSuffix>medical_information</mat-icon>
                <mat-error>
                  <app-show-errors
                    class="text-danger"
                    [ctrl]="forma.get('medical_record')"
                  ></app-show-errors>
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-12">
                <mat-label>Fecha de nacimiento</mat-label>
                <input
                  matInput
                  type="date"
                  placeholder="Selecciona la fecha de nacimiento"
                  [(ngModel)]="person.birth_date"
                  formControlName="birth_date"
                  id="birth_date"
                />
                <mat-error>
                  <app-show-errors
                    class="text-danger"
                    [ctrl]="forma.get('birth_date')"
                  ></app-show-errors>
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-12">
                <mat-label>Primer nombre</mat-label>
                <input
                  matInput
                  placeholder="Ingresa el primer nombre"
                  type="text"
                  [(ngModel)]="person.first_name"
                  formControlName="first_name"
                  id="first-name"
                  autocomplete="off"
                />
                <mat-icon matSuffix>looks_one</mat-icon>
                <mat-error>
                  <app-show-errors
                    class="text-danger"
                    [ctrl]="forma.get('first_name')"
                  ></app-show-errors>
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-12">
                <mat-label>Segundo nombre</mat-label>
                <input
                  matInput
                  placeholder="Ingresa el segundo nombre"
                  type="text"
                  [(ngModel)]="person.second_name"
                  formControlName="second_name"
                  id="second_name"
                  autocomplete="off"
                />
                <mat-icon matSuffix>looks_two</mat-icon>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="col-12">
                <mat-label>Primer apellido</mat-label>
                <input
                  matInput
                  placeholder="Ingresa el primer apellido"
                  type="text"
                  [(ngModel)]="person.first_surname"
                  formControlName="first_surname"
                  id="first_surname"
                  autocomplete="off"
                />
                <mat-icon matSuffix>looks_one</mat-icon>
                <mat-error>
                  <app-show-errors
                    class="text-danger"
                    [ctrl]="forma.get('first_surname')"
                  ></app-show-errors>
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-12">
                <mat-label>Segundo apellido</mat-label>
                <input
                  matInput
                  placeholder="Ingresa el segundo apellido"
                  type="text"
                  [(ngModel)]="person.second_surname"
                  formControlName="second_surname"
                  id="second_surname"
                  autocomplete="off"
                />
                <mat-icon matSuffix>looks_two</mat-icon>
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-12">
                <mat-label>Estado civil</mat-label>
                <mat-select
                  [(ngModel)]="person.marital_status"
                  formControlName="marital_status"
                >
                  <mat-option
                    *ngFor="let estado of civilStates.sort()"
                    [value]="estado.value"
                  >
                    {{ estado.name }}
                  </mat-option>
                </mat-select>
                <mat-icon matSuffix>favorite</mat-icon>
                <mat-error>
                  <app-show-errors
                    class="text-danger"
                    [ctrl]="forma.get('marital_status')"
                  ></app-show-errors>
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-12">
                <mat-label>Teléfono fijo</mat-label>
                <input
                  matInput
                  placeholder="Ingresa el telefono fijo"
                  type="text"
                  [(ngModel)]="person.phone"
                  formControlName="phone"
                  id="phone"
                  autocomplete="off"
                />
                <mat-icon matSuffix>phone</mat-icon>
                <mat-error>
                  <app-show-errors
                    class="text-danger"
                    [ctrl]="forma.get('phone')"
                  ></app-show-errors>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-4">
              <mat-form-field appearance="outline" class="col-12">
                <mat-label>Teléfono celular</mat-label>
                <input
                  matInput
                  placeholder="Ingresa el telefono celular"
                  type="text"
                  [(ngModel)]="person.cell_phone"
                  formControlName="cell_phone"
                  id="cell_phone"
                  autocomplete="off"
                />
                <mat-icon matSuffix>phone_iphone</mat-icon>
                <mat-error>
                  <app-show-errors
                    class="text-danger"
                    [ctrl]="forma.get('cell_phone')"
                  ></app-show-errors>
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-12">
                <mat-label>Correo electrónico</mat-label>
                <input
                  matInput
                  placeholder="Ej: genetic@example.com"
                  type="email"
                  [(ngModel)]="person.email"
                  formControlName="email"
                  id="email"
                  autocomplete="off"
                />
                <mat-icon matSuffix>email</mat-icon>
                <mat-error>
                  <app-show-errors
                    class="text-danger"
                    [ctrl]="forma.get('email')"
                  ></app-show-errors>
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-12">
                <mat-label>Departamento</mat-label>
                <mat-select
                  [(ngModel)]="person.department_id"
                  formControlName="department_id"
                  (selectionChange)="getCities()"
                >
                  <div class="input-group">
                    <input
                      matInput
                      type="text"
                      placeholder="Busca departamento"
                      [(ngModel)]="searchDepartamento"
                      [ngModelOptions]="{ standalone: true }"
                      class="form-control mx-2"
                    />
                    <div class="input-group-append" *ngIf="searchDepartamento">
                      <button
                        class="btn btn-outline-secondary border-left-0 border"
                        (click)="searchDepartamento = ''"
                      >
                        <i class="fa fa-times"></i>
                      </button>
                    </div>
                  </div>
                  <mat-option
                    *ngFor="
                      let item of departments | search: searchDepartamento
                    "
                    [value]="item.value"
                    >{{ item.text }}</mat-option
                  >
                </mat-select>
                <mat-icon matSuffix>explore</mat-icon>
                <mat-error>
                  <app-show-errors
                    class="text-danger"
                    [ctrl]="forma.get('department_id')"
                  ></app-show-errors>
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-12">
                <mat-label>Municipio</mat-label>
                <mat-select
                  [(ngModel)]="person.municipality_id"
                  formControlName="municipality_id"
                  id="municipality_id"
                >
                  <div class="input-group">
                    <input
                      matInput
                      type="text"
                      placeholder="Busca municipio"
                      [(ngModel)]="searchMunicipio"
                      [ngModelOptions]="{ standalone: true }"
                      class="form-control mx-2"
                    />
                    <div class="input-group-append" *ngIf="searchMunicipio">
                      <button
                        class="btn btn-outline-secondary border-left-0 border"
                        (click)="searchMunicipio = ''"
                      >
                        <i class="fa fa-times"></i>
                      </button>
                    </div>
                  </div>
                  <mat-option
                    *ngFor="let item of cities | search: searchMunicipio"
                    [value]="item.value"
                    >{{ item.text }}</mat-option
                  >
                </mat-select>
                <mat-icon matSuffix>push_pin</mat-icon>
                <mat-error>
                  <app-show-errors
                    class="text-danger"
                    [ctrl]="forma.get('municipality_id')"
                  ></app-show-errors>
                </mat-error>
              </mat-form-field>
            </div>
            <div class="col-md-12">
              <ng-select
                id="specialties"
                [items]="specialities"
                bindLabel="text"
                placeholder="Especialidades"
                [closeOnSelect]="false"
                appearance="outline"
                bindValue="value"
                multiple="true"
                required
                [hideSelected]="true"
                dropdownPosition="top"
                [(ngModel)]="person.specialities"
                formControlName="specialities"
              >
              </ng-select>

              <app-show-errors
                class="text-danger"
                style="position: absolute; top: 50px; left: 2.5em"
                [ctrl]="forma.get('specialities')"
              ></app-show-errors>
            </div>
            <div class="col-md-12">
              <div class="d-flex justify-content-end col-md-12">
                <button
                  type="button"
                  class="btn btn-primary btn-sm"
                  placement="bottom"
                  ngbTooltip="Agregar"
                  (click)="newContract()"
                >
                  <i class="fas fa-plus"></i> Agregar contrato
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <ng-container *ngIf="contractList.controls.length">
        <h4 class="text-center text-primary">Contratos</h4>
        <ng-container *ngFor="let item of contractList.controls; let c = index">
          <div formArrayName="contract">
            <div [formGroupName]="c">
              <mat-form-field appearance="outline" class="col-md-4">
                <mat-label>Mi empresa</mat-label>
                <mat-select name="company_id" formControlName="company_id">
                  <div class="input-group">
                    <input
                      matInput
                      type="text"
                      placeholder="Busca empresa"
                      [(ngModel)]="searchMiempresa"
                      [ngModelOptions]="{ standalone: true }"
                      class="form-control mx-2"
                    />
                    <div class="input-group-append" *ngIf="searchMiempresa">
                      <button
                        class="btn btn-outline-secondary border-left-0 border"
                        (click)="searchMiempresa = ''"
                      >
                        <i class="fa fa-times"></i>
                      </button>
                    </div>
                  </div>
                  <mat-option
                    *ngFor="let item of companies | search: searchMiempresa"
                    [value]="item.value"
                    >{{ item.text }}</mat-option
                  >
                </mat-select>
                <mat-icon matSuffix>work</mat-icon>
                <mat-error>
                  <app-show-errors
                    class="text-danger"
                    [ctrl]="item.get('company_id')"
                  >
                  </app-show-errors>
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-md-4">
                <mat-label>Agenda</mat-label>
                <mat-select
                  required
                  multiple="true"
                  name="type_agenda_id"
                  formControlName="type_agenda_id"
                >
                  <mat-option
                    *ngFor="let item of type_appointments"
                    [value]="item.value"
                    >{{ item.text }}</mat-option
                  >
                </mat-select>
                <mat-icon matSuffix>perm_contact_calendar</mat-icon>
                <mat-error>
                  <app-show-errors
                    class="text-danger"
                    [ctrl]="item.get('type_agenda_id')"
                  >
                  </app-show-errors>
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="col-md-4">
                <mat-label>Regimen</mat-label>
                <mat-select
                  required
                  multiple="true"
                  name="regimen_id"
                  formControlName="regimen_id"
                >
                  <mat-option
                    *ngFor="let item of regimes"
                    [value]="item.value"
                    >{{ item.text }}</mat-option
                  >
                </mat-select>
                <mat-icon matSuffix>monetization_on</mat-icon>
                <mat-error>
                  <app-show-errors
                    class="text-danger"
                    [ctrl]="item.get('regimen_id')"
                  >
                  </app-show-errors>
                </mat-error>
              </mat-form-field>
              <ng-select
                ngSelectMat
                [items]="allcompanies"
                [multiple]="true"
                placeholder="Otras empresas"
                appearance="outline"
                bindLabel="text"
                [hideSelected]="true"
                [virtualScroll]="true"
                groupBy="tipo"
                [selectableGroup]="true"
                [selectableGroupAsModel]="false"
                [closeOnSelect]="false"
                bindValue="value"
                name="companies_id"
                loadingText="loading"
                formControlName="companies_id"
                dropdownPosition="top"
                required="true"
              >
              </ng-select>
              <mat-error>
                <app-show-errors
                  style="position: relative; left: 1.5em; top: -20px"
                  class="text-danger"
                  [ctrl]="item.get('companies_id')"
                >
                </app-show-errors>
              </mat-error>

              <ng-select
                [items]="contracts"
                [multiple]="true"
                [hideSelected]="true"
                required
                class="is-invalid"
                appearance="outline"
                bindLabel="text"
                bindValue="value"
                placeholder="Contrato"
                [closeOnSelect]="false"
                name="contract_id"
                formControlName="contract_id"
              >
              </ng-select>
              <app-show-errors
                class="text-danger"
                style="position: relative; left: 1.5em; top: -20px"
                [ctrl]="item.get('contract_id')"
              >
              </app-show-errors>
            </div>
            <div class="d-flex justify-content-end col-md-12">
              <button
                type="button"
                class="btn btn-danger btn-sm"
                placement="bottom"
                ngbTooltip="Borrar"
                (click)="deleteContract()"
              >
                <i class="fas fa-trash-alt"></i> Borrar contrato
              </button>
            </div>
          </div>
        </ng-container>
      </ng-container>
    </form>
    <button
      type="submit"
      (click)="guardar()"
      class="btn btn-primary btn-block mt-4"
    >
      Guardar Profesional
    </button>
  </div>
</div>

<!-- <div class="col-md-4 mb-2">
                    <label for="validationServerUsername">IPS Principal</label>

                    <div class="input-group">
                        <ng-select class="col-12 m-0 p-0" [items]="companies" bindLabel="text" bindValue="value"
                            [(ngModel)]="person.company_id" formControlName="company_id" loadingText="loading">
                        </ng-select>
                    </div>
                    <app-show-errors class="text-danger" [ctrl]="forma.get('company_id')"></app-show-errors>
                </div> -->

<!-- <div class="col-md-8 mb-2">
                    <label for="validationServerUsername">Instuciones Hab.</label>
                    <div class="input-group">
                        <ng-select class="col-12 m-0 p-0" multiple="true" [items]="companies" bindLabel="text"
                            bindValue="value" [(ngModel)]="person.companies" formControlName="companies"
                            loadingText="loading">
                        </ng-select>
                        <app-show-errors class="text-danger" [ctrl]="forma.get('companies')"></app-show-errors>
                    </div>
                </div> -->
<!-- <div class="col-md-3 mb-2">
                    <label for="validationServerUsername">Tipo Profesional</label>
                    <div class="input-group">
                        <ng-select class="col-12 m-0 p-0" [items]="peopleTypes" bindLabel="text" bindValue="value"
                             [(ngModel)]="person.people" formControlName="people_type_id" loadingText="loading" >
                        </ng-select>
                    </div>
                    <app-show-errors class="text-danger" [ctrl]="forma.get('people_type_id')"></app-show-errors>
                </div> -->
<!-- <div class="row mt-3   justify-content-center">
                    <div class="col-md-4 mb-2">
                        <img id="imageOutput" [src]="fileSgnature" alt="Imagen del funcionario"
                            class="d-block m-auto" />
                        <label for="signature_blob" class="ml-3 subir-archivo mt-2">
                            Cargar Firma
                            <i class="simple-icon-doc"></i>
                        </label>
                        <div class="input-group">
                            <input type="file" class="form-control" id="signature_blob"
                                (change)="onFileChanged($event, 'signature_blob')" accept="image/*">
                            <input type="hidden" name="signature_blob" [(ngModel)]="person.signature_blob"
                                formControlName="signature_blob" />
                        </div>
                        <app-show-errors class="text-danger" [ctrl]="forma.get('signature_blob')"></app-show-errors>
                    </div>
                </div> -->
<!-- <div class="col-md-6 mb-3">
                    <label for="validationServerUsername">Contracto.</label>
                    <div class="input-group">
                        <ng-select class="col-12 m-0 p-0" [items]="contracts" bindLabel="text" bindValue="value"
                            [(ngModel)]="person.contract" formControlName="contract" loadingText="loading">
                        </ng-select>
                        <app-show-errors class="text-danger" [ctrl]="forma.get('contract')"></app-show-errors>
                    </div>
                </div> -->

<!-- <div class="form-group col-md-2 text-center">
                    <img id="imageOutput" [src]="fileString" alt="Imagen del funcionario" class="d-block m-auto" />
                    <label for="image" class="subir-archivo mt-2">
                        Cargar imagen
                        <i class="simple-icon-doc"></i>
                    </label>

                    <input type="file" name="image" class="form-control-file" id="image_blob" formControlName="image_blob"
                        (change)="onFileChanged($event)" [class.is-invalid]="image_valid" placeholder="Imagen" />

                    <div class="col-md-12 text-center text-danger" *ngIf="image_valid">
                        <small class="invalid">La imagen es necesaria</small>
                    </div>
                    <app-show-errors class="text-danger" [ctrl]="forma.get('image_blob')"></app-show-errors>

                </div> -->
