<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                <div class="col-12">
                    <h5>Nueva Historia Clinica</h5>

                    <div class="form-row">
                        <div class="form-group col-md-4">
                            <label for="exampleInputPassword1">Seleccionar historia</label>
                            <select class="custom-select custom-select-sm" name="history" [(ngModel)]="history"
                                placeholder="Seleccione" (change)="ClinicalHistorialsTypes()">
                                <option [value]="history.value" *ngFor="let history of histories">
                                    {{ history.text }}
                                </option>
                            </select>
                        </div>

                        <div class="form-group col-md-4">
                            <label for="exampleInputPassword1">-</label>
                            <select class="custom-select custom-select-sm" name="type" [(ngModel)]="type"
                                placeholder="Seleccione" (change)="ClinicalHistorialsSubTypes()">
                                <option [value]="type.value" *ngFor="let type of types">
                                    {{ type.text }}
                                </option>
                            </select>
                        </div>

                        <div class="form-group col-md-4">
                            <label for="exampleInputPassword1">-</label>
                            <select class="custom-select custom-select-sm" name="subtype" [(ngModel)]="subtype"
                                (change)="chargeFields()">
                                <option [value]="subtype.value" *ngFor="let subtype of subtypes">
                                    {{ subtype.text }}
                                </option>
                            </select>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">

                <form (ngSubmit)="saveEvent()" [formGroup]="formData">

                    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs nav-pills">

                        <li *ngFor="let item of modules; let indice = index " [ngbNavItem]="indice+1">

                            <a ngbNavLink>{{item.name}}</a>

                            <ng-template ngbNavContent>

                                <div class="row">
                                    <div class="col-md-6 mx-auto" *ngFor="let variable of  parents(item)">
                                        <label for="validationServerUsername">{{variable['name']}}</label>
                                        <div class="input-group">

                                            <ng-container
                                                *ngIf="variable['type'] != 'select'  &&  variable['type'] != 'check' &&  variable['type'] != 'textarea'">
                                                <input [type]="variable['type']" class="form-control"
                                                    id="{{variable['name']}}" placeholder="{{variable['name']}}"
                                                    [required]="variable['required']"
                                                    formControlName="{{variable['name']}}" />
                                            </ng-container>

                                            <ng-container
                                                *ngIf="variable['type'] != 'select'  &&  variable['type'] != 'check'">
                                                <textarea name="" id="" cols="30" rows="5" class="form-control"
                                                    formControlName="{{variable['name']}}"></textarea>
                                            </ng-container>

                                            <ng-container
                                                *ngIf="variable['type'] == 'check' || variable['type'] == 'select' ">
                                                <ng-select placeholder="Seleccione"
                                                    [multiple]="(variable['type'] == 'select') ? false : true "
                                                    class="w-100" formControlName="{{variable['name']}}">
                                                    <ng-option [value]="option.id"
                                                        *ngFor="let option of variable['values_for_select']">
                                                        {{ option.name }}
                                                    </ng-option>
                                                </ng-select>
                                            </ng-container>

                                        </div>
                                    </div>

                                    <!-- /********************************************************************************************************************************* -->
                                    <div class="col-md-6 mx-auto" *ngFor="let variable of  chields(item)">
                                        <label for="validationServerUsername">{{variable['name']}}</label>
                                        <div class="input-group">

                                            <ng-container
                                                *ngIf="variable['type'] != 'select'  &&  variable['type'] != 'check' &&  variable['type'] != 'textarea'">
                                                <input [type]="variable['type']" class="form-control"
                                                    id="{{variable['name']}}" placeholder="{{variable['name']}}"
                                                    [required]="variable['required']"
                                                    formControlName="{{variable['name']}}" />
                                            </ng-container>

                                            <ng-container
                                                *ngIf="variable['type'] != 'select'  &&  variable['type'] != 'check'">
                                                <textarea name="" id="" cols="30" rows="5" class="form-control"
                                                    formControlName="{{variable['name']}}"></textarea>
                                            </ng-container>

                                            <ng-container
                                                *ngIf="variable['type'] == 'check' || variable['type'] == 'select' ">
                                                <ng-select placeholder="Seleccione"
                                                    [multiple]="(variable['type'] == 'select') ? false : true "
                                                    class="w-100" formControlName="{{variable['name']}}">
                                                    <ng-option [value]="option.id"
                                                        *ngFor="let option of variable['values_for_select']">
                                                        {{ option.name }}
                                                    </ng-option>
                                                </ng-select>
                                            </ng-container>

                                        </div>
                                    </div>
                                </div>



                            </ng-template>

                        </li>

                    </ul>

                </form>

                <div class="w-100"></div>

                <div [ngbNavOutlet]="nav" class="mt-2"></div>

            </div>

        </div>

    </div>
</div>