<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div>
                    <div class="text-center mb-5">
                        <p class="mb-2">
                            <i class="fa fa-clock"></i> Tiempo promedio de espera
                        </p>
                        <h5>{{statistics.averageTime}}</h5>
                    </div>

                    <div class="mb-5 text-center">
                        <p class="mb-2  "> <i class="fa fa-user-clock"></i> Cita más antigua</p>
                        <div>
                            <div class="row align-items-center text-danger" *ngIf="statistics.lastAppointment.date; else notLast">
                                <div class="col-6">{{statistics.lastAppointment.date | date}}</div>
                                <div class="col-6">{{statistics.lastAppointment.patient_name}}</div>
                                <!-- <div class="col-4">{{statistics.lastAppointment.speciality}}</div> -->
                            </div>
                            <ng-template #notLast>
                                <span class="text-success">
                                    No hay cita pendiente
                                </span>
                            </ng-template>
                        </div>
                    </div>

                    <div class="text-center">
                        <p class="mb-2"> <i class="fa fa-sort-amount-up-alt"></i> Top Especialidades en espera</p>
                    </div>
                    <div class="table-responsive mt-4 text-left">

                        <table *ngIf="statistics.topAwait.length > 0; else notTop" class="table table-hover mb-0 table-centered table-nowrap">
                            <tbody>
                                <tr *ngFor="let top of statistics.topAwait">
                                    <td>
                                        <h5 class="font-size-14 mb-0">{{top.speciality}}</h5>
                                    </td>
                                    <td>
                                        <div id="spak-chart1"></div>
                                    </td>
                                    <td>
                                        <p class="text-muted mb-0">{{top.total}}</p>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                    <ng-template #notTop>
                        <span class="text-success ">
                            No hay especialidades pendientes
                        </span>
                    </ng-template>

                </div>
            </div>
        </div>
    </div>

</div>