<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div>
                    <div class="text-center mb-5">
                        <p class="mb-2">
                            <i class="fa fa-clock"></i> Promedio de tiempo de espera</p>
                        <h5>{{averageTime}}</h5>
                    </div>

                    <div class="mb-5 text-center">
                        <p class="mb-2  "> <i class="fa fa-user-clock"></i> Cita más antigua</p>
                        <!--  <h4>4 dias 1 hora 5 minutos</h4> -->
                        <div class="text-danger">
                            <div class="row">
                                <div class="col-6">{{OldWaitng.date}}</div>
                                <div class="col-6">{{OldWaitng.name}}</div>
                            </div>
                        </div>
                    </div>

                    <div class="text-center">
                        <p class="mb-2"> <i class="fa fa-sort-amount-up-alt"></i> Top Especialidades en espera</p>
                    </div>
                    <div class="table-responsive mt-4">
                        <table class="table table-hover mb-0 table-centered table-nowrap">
                            <tbody>
                                <tr *ngFor="let top of topWaiting">
                                    <td>
                                        <h5 class="font-size-14 mb-0">{{top.name}}</h5>
                                    </td>
                                    <td>
                                        <div id="spak-chart1"></div>
                                    </td>
                                    <td>
                                        <p class="text-muted mb-0">{{top.total}}</p>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>

                    <div class="text-center mt-4">
                        <!--  <a href="javascript: void(0);" class="btn btn-primary btn-sm">Ver mas</a> -->
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>