<div class="card-title d-flex justify-content-between">
  <h5 class="text-primary">Lista de turnos rotativos</h5>
  <div class="btn-group rounded">
    <button class="btn btn-primary btn-sm" (click)="create()">
      <i class="fa fa-plus"></i> Agregar
    </button>
    <button class="btn btn-info btn-sm" style="float: right;" (click)="openClose()">
      <i class="fas fa-sliders-h"></i> Filtros
    </button>
  </div>
</div>
<mat-accordion multi>
  <mat-expansion-panel class="mat-elevation-z0">
    <mat-form-field class="col-3 pl-0" appearance="outline">
      <mat-label>Nombre</mat-label>
      <input type="text" matInput placeholder="Busca por nombre">
    </mat-form-field>
  </mat-expansion-panel>
</mat-accordion>

<div *ngIf="turnosRotativo.length && !loading; else notData">
  <table class="table table-bordered table-striped table-sm">
    <thead class="bg-light">
      <tr>
        <th>Nombre</th>
        <th class="text-center">
          <!--Horario Semana-->
        </th>
        <th class="text-center" style="width: 30px">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let turno of turnosRotativo" [ngClass]="{
          'bg-danger text-white': turno.state == 'Inactivo'
        }">
        <td class="custom-label">{{ turno.text }}</td>
        <td class="text-center">
          <button type="button " class="btn btn-link btn-xs"
            (click)="findHours(turno.value); hourModal.show()">
            <!--<i class="fa fa-eye"></i>-->
          </button>
        </td>
        <td class="">
          <div ngbDropdown class="dropdown-primary">
            <button ngbDropdownToggle class="
                btn btn-secondary btn-sm
                waves-effect waves-light
              " type="button">
              <i class="mdi mdi-chevron-down"></i>
            </button>
            <div ngbDropdownMenu>
              <a class="
                  dropdown-item
                  waves-light waves-effect
                  caja-botones
                " (click)="create(turno.value)">
                <i class="fa fa-pencil-alt"></i> Editar
              </a>
              <a class="
                  dropdown-item
                  waves-light waves-effect
                  caja-botones
                " (click)="changeState(turno.value)">
                <i class="fa fa-times"></i>
                {{
                turno.state == "Inactivo" ? "Activar" : "Inactivar"
                }}
              </a>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #notData>
  <app-not-data [loading]="loading"></app-not-data>
</ng-template>

<app-create-turno-rotativo (saved)="getAll()" [openModal]="showModal">
</app-create-turno-rotativo>