//@import "~@ng-select/ng-select/themes/default.theme.css";
@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-navigations/styles/material.css";
@import "../node_modules/@syncfusion/ej2-layouts/styles/material.css";
@import "../node_modules/@syncfusion/ej2-grids/styles/material.css";
@import "../node_modules/@syncfusion/ej2-angular-filemanager/styles/material.css";
@import "~saturn-datepicker/bundle.css";
//@include sat-datepicker-theme($theme);
//@import "~@ng-select/ng-select/themes/material.theme.css";
hr.line {
  border: 0;
  margin-top: 0px;
  height: 1px;
  background-image: linear-gradient(
    to right,
    #f0f0f0,
    #3848ca,
    #3848ca,
    #f0f0f0
  );
}

.img-rounded {
  object-fit: cover;
}

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "assets/scss/material.scss";

.cdk-global-overlay-wrapper,
.cdk-overlay-container {
  z-index: 99999 !important;
}

.cdk-overlay-connected-position-bounding-box {
  z-index: 99999 !important;
}

.card {
  border-radius: 0.7rem !important;
}
.card-horizontal {
  display: flex;
  flex: 1 1 auto;
}
@media (max-width: 800px) {
  .w-sm-100 {
     display: inline-flex;
     width: 100%;
  }
}


.img-rounded {
    max-height: 11rem;
    max-width: 11rem;
    width: 11rem;
    height: 11rem;
    object-fit: cover;
}

.custom-input-file {
    background-color: #24a0ed;
    color: #fff;
    cursor: pointer;
    margin: 0 auto 0;
    min-height: 15px;
    overflow: hidden;
    padding: 10px;
    position: relative;
    text-align: center;
    border-radius: 10px;
}

.custom-input-file .input-file {
    border: 10000px solid transparent;
    cursor: pointer;
    font-size: 10000px;
    margin: 0;
    opacity: 0;
    outline: 0 none;
    padding: 0;
    position: absolute;
    right: -1000px;
    top: -1000px;
}