<div class="card-body">
    <div class="app-calendar">
        <full-calendar #calendar defaultView="dayGridMonth" [header]="{
            left: 'prevYear,prev,next,nextYear today',
            center: 'title',
            right: 'dayGridMonth,dayGridWeek,dayGridDay,listWeek'}" [plugins]="calendarPlugins"
            [eventResizableFromStart]="'true'" [eventLimit]="false" themeSystem='bootstrap'
            [weekends]="calendarWeekends" [bootstrapFontAwesome]="true" deepChangeDetection="true"
            [events]="calendarEvents"   locale="es"
            (eventClick)="save($event)">
        </full-calendar>
    </div>
</div>