<div class="col-12 mt-2 " *ngIf="calendarEvents.length == 0">
    <div class="alert alert-warning" role="alert">
        <i class="fa fa-exclamation-triangle"></i> No se encontraron espacios disponibles con esas características
    </div>
</div>

<div class="card-body">
    <div class="app-calendar">
        <full-calendar #calendar defaultView="dayGridMonth" [header]="{
            left: 'prevYear,prev,next,nextYear today',
            center: 'title',
            right: 'dayGridMonth,dayGridWeek,dayGridDay,listWeek'}" [plugins]="calendarPlugins"
            [eventResizableFromStart]="'true'" [eventLimit]="false" themeSystem='bootstrap'
            [weekends]="calendarWeekends" [bootstrapFontAwesome]="true" deepChangeDetection="true"
            [events]="calendarEvents"   locale="es"
            (eventClick)="save($event)">
        </full-calendar>
    </div>
</div>