<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
          <li [ngbNavItem]="1">
            <a ngbNavLink>Modulo</a>
            <ng-template ngbNavContent> </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <a ngbNavLink>Subcategoria</a>
            <ng-template ngbNavContent>
             <app-subcategoria-contabilidad [accounts]="accounts"></app-subcategoria-contabilidad>
            </ng-template>
          </li>

          <li [ngbNavItem]="3">
            <a ngbNavLink>Catálogo</a>
            <ng-template ngbNavContent> <app-catalogo-contabilidad></app-catalogo-contabilidad> </ng-template>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div [ngbNavOutlet]="nav" class="mt-0"></div>
      </div>
    </div>
  </div>
</div>

