<div class="page-body">
    <div class="row">
        <div class="col-md-12 filter-bar">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-7">
                            <h5>Proveedores</h5>
                            <span>Todos los proveedores registrados en nuestras bases de datos</span>
                        </div>
                        <div class="col-md-5" style="text-align:right;">
                            <div class="form-group t-10">
                                <div class="card-header-left">
                                    <button type="button" class="pull-left btn btn-primary btn-sm mr-2" [routerLink]="['crear']">
                                        <i class="fa fa-plus"></i>
                                        Agregar Nuevo Proveedor
                                    </button> &nbsp;
                                    <a href="{{environment2.ruta}}php/proveedores/exportar.php?Tipo=Proveedor" target="_blank" class="pull-left btn btn-primary btn-sm">
                                        <i class="fa fa-download"></i> Exportar
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">

                    <div class="row">
                        <div class="col-md-12">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Identificación</th>
                                        <th>Proveedor</th>
                                        <th>Dirección</th>
                                        <th>Ciudad</th>
                                        <th>Celular</th>
                                        <th>Correo</th>
                                        <th>Regimen</th>
                                        <th>Creador Por</th>
                                        <th>Acciones</th>
                                    </tr>
                                    <tr>
                                        <th class="tabla-filtro">
                                            <input type="text" [(ngModel)]="filtro_iden" (change)="filtros()" class="form-control input-sm" placeholder="Filtro Identificación">
                                        </th>
                                        <th class="tabla-filtro">
                                            <input type="text" [(ngModel)]="filtro_nombre" (change)="filtros()" class="form-control input-sm" placeholder="Filtro Proveedor">
                                        </th>
                                        <th class="tabla-filtro">
                                            <input type="text" [(ngModel)]="filtro_dir" (change)="filtros()" class="form-control input-sm" placeholder="Filtro Dirección">
                                        </th>
                                        <th class="tabla-filtro">
                                            <input type="text" [(ngModel)]="filtro_ciu" (change)="filtros()" class="form-control input-sm" placeholder="Filtro Ciudad">
                                        </th>
                                        <th class="tabla-filtro">
                                        </th>
                                        <th class="tabla-filtro">
                                            <input type="text" [(ngModel)]="filtro_correo" (change)="filtros()" class="form-control input-sm" placeholder="Filtro Correo">
                                        </th>
                                        <th class="tabla-filtro">
                                            <select class="form-control form-control-sm" (change)="filtros()" [(ngModel)]="filtro_reg" style="border:0px">
                                                <option value="">Seleccione</option>
                                                <option value="Comun">Común</option>
                                                <option value="Simplificado">Simplificado</option>
                                            </select>
                                        </th>
                                        <th class="tabla-filtro">
                                        </th>
                                        <th class="tabla-filtro">
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngIf="Cargando">
                                        <td colspan="9" class="text-center">
                                            <i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i>
                                            <span class="sr-only">Cargando...</span>
                                            <h4>Cargando Proveedores...</h4>
                                        </td>
                                    </tr>
                                    <tr *ngIf="proveedores.length == 0 && !Cargando">
                                        <td colspan="9" class="text-center">
                                            <i class="fa fa-exclamation-circle fa-5x"></i>
                                            <h4>No Existen Proveedores para mostrar</h4>
                                        </td>
                                    </tr>
                                    <tr *ngFor="let proveedor of proveedores" [ngClass]="{'bg-danger': proveedor.Estado == 'Inactivo'}">
                                        <td>{{ proveedor.Id_Proveedor }}</td>
                                        <td>{{ proveedor.Nombre }}</td>
                                        <td>{{ proveedor.Direccion }}</td>
                                        <td>{{ proveedor.Ciudad }}</td>
                                        <td>{{ proveedor.Celular }}</td>
                                        <td>{{ proveedor.Correo }}</td>
                                        <td>{{ proveedor.Regimen }}</td>
                                        <td>{{ proveedor.Funcionario }}</td>
                                        <td>
                                            <div class="text-center">
                                                <div ngbDropdown class="dropdown-primary">
                                                    <button ngbDropdownToggle class="btn btn-secondary btn-mini waves-effect waves-light " type="button">Acciones</button>
                                                    <div ngbDropdownMenu>
                                                        <a class="dropdown-item waves-light waves-effect caja-botones" [routerLink]="['editar', proveedor.Id_Proveedor]"> <i class="ti-pencil"></i>Editar</a>
                                                        <a class="dropdown-item waves-light waves-effect caja-botones" [routerLink]="['ver', proveedor.Id_Proveedor]"> <i class="fa fa-eye"></i>Ver</a>
                                                        <a class="dropdown-item waves-light waves-effect caja-botones" [routerLink]="['/base/proveedorlista', proveedor.Id_Proveedor]"> <i class="fa fa-list"></i>Lista</a>
                                                        <a *ngIf="proveedor.Rut != ''" class="dropdown-item waves-light waves-effect caja-botones" href="{{globales.ruta}}/ARCHIVOS/CONTABILIDAD/RUTS/{{proveedor.Rut}}" target="_blank"> <i class="fa fa-book"></i>Ver RUT</a>
                                                        <a *ngIf="miPerfil == '27'" class="dropdown-item waves-light waves-effect caja-botones" [swal]="{ title : '¿Está Seguro?', text : 'Se dispone a cambiar el estado de este proveedor.' , icon : 'warning', showCancelButton : true , confirmButtonText : 'Si, Cambiar', cancelButtonText : 'No, Dejame Comprobar!' }"
                                                            (confirm)="cambiarEstado(proveedor.Id_Proveedor)"> <i class="fa fa-power-off"></i> {{ proveedor.Estado == 'Activo' ? 'Inactivar' : 'Activar' }}</a>

                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <ngb-pagination class="pull-right" [collectionSize]="TotalItems" [(page)]="page" [pageSize]="pageSize" [maxSize]="maxSize" size="sm" (pageChange)="paginacion()" [boundaryLinks]="true"></ngb-pagination>

                    <ng-template #PlantillaBotones let-row="row" let-value="value">
                        <div class="text-center">
                            <!-- <div class="btn-group " role="group" data-toggle="tooltip" data-placement="top" title="" data-original-title=".btn-mini">
                                <button class="btn btn-primary btn-mini" (click)="EditarProveedor(value)" type="button" style="margin:0;">
                                    <i class="ti-pencil"></i>
                                </button>
                            </div>-->
                            <div ngbDropdown class="dropdown-primary">
                                <button ngbDropdownToggle class="btn btn-secondary btn-mini waves-effect waves-light " type="button">Acciones</button>
                                <div ngbDropdownMenu>
                                    <a class="dropdown-item waves-light waves-effect caja-botones" (click)="EditarProveedor(value)"> <i class="ti-pencil"></i>Editar</a>

                                </div>
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>



<swal #deleteSwal title="Proveedor Inactivado" text="Se ha Inactivado Correctamente el Proveedor" type="success">
</swal>
