<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="m-0 p-0">Historial de Citas</h4>
            </div>
            <div class="card-body">
                <div class="col-12">
                    <table class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th style="width: 20%;">Fecha</th>
                                <th style="width: 15%;">Especialidad</th>
                                <th style="width: 45%;">Descripción</th>
                                <th style="width: 5%;">Estado</th>
                                <th style="width: 15%;"> Acciones </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let cita of citas">
                                <th scope="row">{{cita.Fecha}}</th>
                                <td>{{cita.Especialidad}}</td>
                                <td>{{cita.Descripcion}}</td>
                                <td>{{cita.Estado}}</td>
                                <td class="text-right">
                                    <span class="mr-2 accion">
                                        <i title="Paciente llegó"   (click)="detalleCita(cita)" class="fas fa-notes-medical"></i>
                                    </span>
                                    <!--   <span class="mr-2 accion">
                                        <i title="Paciente llegó"   (click)="confirmarCita()" class="fas fa-user-check text-primary"></i>
                                    </span> -->
                                    <span *ngIf="canOverride == 'true'" class="accion" (click)="cancelarCitaModal.show()">
                                        <i title="Cancelar" class="fas fa-ban text-danger"></i>
                                    </span>
                                </td>
                            </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<app-detalle-cita [modalData]="openModalDetalle"></app-detalle-cita>
<app-modal-basic #cancelarCitaModal [dialogClass]="'modal-lg modal-full'">
    <div class="app-modal-header">
        <div class="row">
            <h4 class=" text text-center justify-content-center modal-title   p-3">Cancelar Cita
            </h4>
            <button type="button" class="close basic-close" (click)="cancelarCitaModal.hide()">
                <span aria-hidden="true" >&times;</span>
            </button>
        </div>
    </div>
    <div class="app-modal-body">
        <div class="row mt-3 px-3">
            <div class="form-group col-12">
                <label for="exampleInputEmail1">Motivo de cancelación</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ingrese el motivo">
            </div>
        </div>
    </div>
    <div class="app-modal-footer ">
        <div class="text-right  px-3">
            <button type="button " class="btn btn-danger btn-sm mr-2" (click)="cancelarCitaModal.hide() ">Cerrar</button>
            <button type="button " class="btn btn-success btn-sm " (click)="cancelarCita()">Cancelar Cita</button>
        </div>
    </div>
</app-modal-basic>